[2017-07-24 18:57] armenzg opened #1 "Diff view"
Given a changeset show the diff.

[2017-07-24 19:01] armenzg opened #2 "Diff view with sample code coverage data"
The current JSON agreed metadata will look like this:

[code]

[2017-07-24 19:01] armenzg opened #3 "Commit history"
List of commits. Linking to diff viewers.

To do:

- [x] fetch hg web data and display changesets
- [x] description
- [x] remove ffxbld from list of commits (2017-09-05)
- [x] showing tipmost changeset of a push rather that oldest (2017-09-05)
- [x] link to code coverage diff viewer
- [x] show commits contained between commits
- [x] allow hidding commits contained within each push

[2017-07-24 19:43] armenzg opened #4 "Commit history with code coverage summary"
# To do

- [x] load code coverage status for each m-c push

# Blockers
- Fixed - _https://github.com/mozilla-releng/services/issues/594_
- New - [Use a worker to process coverage API requests](https://github.com/mozilla-releng/services/issues/632)

# Notes
Plan disccused here:
https://public.etherpad-mozilla.org/p/code_coverage_Q3_17

I'm pasting over here some conversations we've had around the t

[2017-07-25 13:16] armenzg commented on #4
Kyle wrote:

[2017-07-26 16:28] armenzg commented on #1
- [x] parse diff module
- [x] show all parts of a diff
- [x] publish prove that we can display a sample diff
- [ ] add unique key to each Line to support React properly
- [ ] clear console errors
- [ ] load diff data from Mercurial raw-diff API
   - [ ] remove raw diff inside of index.js
- [ ] receive changeset parameter to display and load on the fly
- [ ] polish view
- [ ] show others
- [ ] ask

[2017-08-15 00:13] armenzg opened #6 "Main view polish"
List of changes:

- [ ] linkify bug numbers
- [ ] removes authors' emails (instead of using substring)
- [x] pushes with net-new coverage
- [ ] allow requesting more changesets (button at bottom saying "load more pushes")
- [ ] spinner when loading the main view

[2017-08-15 00:14] armenzg commented on #1
Completed.
Now working on loading code coverage data (issue #2) and pushed some work to issue #6.

[2017-08-15 00:14] #1 closed

[2017-08-15 18:52] armenzg commented on #2
I'm showing code coverage in the current deployment:
https://armenzg.github.io/code_cov_experiments/

Todo before I can close this issue:
- [ ] add miss line information if there is no hit
- [ ] add React router support
- [ ] add changeset/{digest} route
- [ ] add coverage summary per diff and per file

[2017-08-17 17:14] armenzg commented on #3
Review UI details in here:
https://public.etherpad-mozilla.org/p/code_coverage_Q3_17#lineNumber=25

Create TODO list between this issue and the next.

[2017-08-21 20:24] armenzg commented on #3
To do:

- [x] fetch hg web data and display changesets
- [ ] bug metadata
- [ ] link to code coverage summary

[2017-08-22 18:24] armenzg opened #7 "Show code coverage changes per diff and per file"
To do:
- [x] add coverage summary per diff and per file

[2017-08-24 15:50] #2 closed

[2017-08-24 20:33] armenzg opened #9 "Diff viewer improvements"
- [x] metadata
- [ ] list of files with links to the divs
- [ ] collapsible divs
- [ ] linkable lines
- [x] receive changeset parameter to display and load on the fly
- [ ] when loading a raw-diff show a spinner (since fetching takes long)
- [x] when a diff gets loaded once see if we can cache it (probably with react-redux)
- [x] remove new line if value of old one is the same
- [x] receive change

[2017-08-28 18:07] armenzg commented on #4
I'm currently trying to fetch this API with codecov:
https://codecov.io/api/gh/marco-c/gecko-dev/commits

I believe I need an access token so I can use it:
https://docs.codecov.io/v4.3.6/reference#authorization

I'm currently hitting:

For now I will make this work locally by serving the file locally. It won't work on GitHub pages until I have an access token from marco.

[2017-08-28 21:18] armenzg opened #10 "Data needs"
I'm hitting CORS left and right. I need backend support for the data I need.

For instance the data contained in here:
* https://codecov.io/api/gh/marco-c/gecko-dev/commits

I would also need data from [Mapper](https://api.pub.build.mozilla.org/docs/usage/mapper/) to relate Git commits to Hg commits.
OR load the raw diffs from [GH directly](https://github.com/mozilla/gecko-dev/commit/2a9cc8e3beedf

[2017-08-28 21:24] armenzg commented on #4
Until there is a solution for issue #10 I can only show screenshots of the app.
I will wait until marco comes around and see if he can proxy that for me.

Here's the latest screenshot:
https://cl.ly/3n141N272k0u

It shows commits from https://codecov.io/api/gh/marco-c/gecko-dev/commits sorted by timestamp.

There's data in that API for me to show the code coverage for each commit.
I will work on t

[2017-08-29 19:52] armenzg commented on #4
I put some effort into making the changes from yesterday "shareable" publicly.

In this effort, I ended up migrating us to Heroku:
https://firefox-code-coverage.herokuapp.com/#/

In any case, it was not the migration which allowed this to happen but to apply a hack:
https://github.com/armenzg/code_cov_experiments/commit/4e1f44bb57a5714d63e54aba50b25fffb707665f

[2017-08-30 00:37] klahnakoski commented on #10
are you testing with firefox?  as a temp measure, does [cors everywhere](https://addons.mozilla.org/en-US/firefox/addon/cors-everywhere/) work?

[2017-08-30 13:46] armenzg commented on #10
Visiting a site always work with our browsers.

Telling a site to fetch content from another site hits the CORS issue.
Fetching from hg-web always worked because the security level is not as high.

[2017-08-30 15:37] klahnakoski commented on #9
I had thought I could help by creating issues for the diff viewer, but it seems you are already on top of that here. May I assume you know what you want to see for v1 for each item here?

[2017-08-30 17:02] klahnakoski opened #12 "Do not color removed lines"
The diff viewer should not give any color to the removed lines because they are not important for determining coverage.  Maybe the removed lines should not even be shown; instead showing only the new hunks and coloring the based on if they are covered, or not

[2017-08-30 17:25] klahnakoski commented on #12
Example:

![image](https://user-images.githubusercontent.com/2334429/29885985-a09bb3b8-8d86-11e7-9015-a6dfc8893350.png)

[2017-09-05 14:32] armenzg commented on #10
For changeset summaries: https://github.com/mozilla-releng/services/issues/594
For per changeset support: https://github.com/mozilla-releng/services/pull/595

[2017-09-05 19:42] armenzg commented on #4
Blocked on https://github.com/mozilla-releng/services/issues/594

I'm going to make progress on issue #3

[2017-09-05 19:43] armenzg commented on #9
My apologies. I missed your comment.
Yes, I have an idea for each. Thanks for checking!

[2017-09-05 19:46] armenzg commented on #7
This depends on https://github.com/mozilla-releng/services/pull/595

[2017-09-07 15:55] armenzg commented on #3
I've landed the last two features in this issue:
https://github.com/armenzg/code_cov_experiments/commit/3a03220341536306ad75fad8210e970f73f031da
https://github.com/armenzg/code_cov_experiments/commit/259aeb43d8d33a39e0ff10c92868cdc0bbf06ae7

[2017-09-07 15:55] #3 closed

[2017-09-11 15:56] armenzg commented on #7
I'm going to make progress here.
I reviewed marco's code and it should land soon.

I can work against my local development:
https://localhost:8011/coverage/changeset/a2a1ce612e91893ee3bc4c93d2a63b210a954340

[2017-09-11 15:58] armenzg opened #16 "Add instructions on how to set up code coverage backend"
Checkout the releng services repo:
`git clone https://github.com/mozilla-releng/services`

In one tab:
./please run postgresql
on another:
./please run shipit-uplift
To see all available APIs:
https://localhost:8011/docs

[2017-09-11 16:03] armenzg opened #17 "Allow changing settings between localhost and production backend"
https://localhost:8011
vs
https://uplift.shipit.staging.mozilla-releng.net

[2017-09-12 19:06] klahnakoski opened #18 "Add push date to changeset summaries"
Please add a column to show the push date of each of the central pushes.  https://firefox-code-coverage.herokuapp.com/#/

[2017-09-12 20:58] armenzg opened #19 "Add Flow typing"
There is propTypes but I'm going to try Flow.
The fx team is moving to it.

I've wasted half a day because I was trying to use a variable that was not defined.
The error in the console was `TypeError: Function.prototype.bind.apply(...) is not a constructor`

[2017-09-12 20:59] armenzg opened #20 "Add support for Promise.all()"
This will coordinate all three fetches happening to end at the same time:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/all

[2017-09-12 21:00] armenzg opened #21 "Add "Loading..." functionality"
Sometimes it would be nice to know that the UI is just waiting for data to load.
This can easily be accomplished by returning a string ("Loading...") when the components first load before the fetch requests have completed.

[2017-09-13 17:45] armenzg opened #22 "Support Heroku review apps"
So I can test deployments of a GH PR.

[2017-09-13 20:06] armenzg commented on #22
Added.
PR requests will now get their own deployment.

[2017-09-14 14:51] #22 closed

[2017-09-18 19:33] marco-c commented on #12
I've received feedback that the color (green and dark green) can be confusing. We should use two different colors. Maybe we should only color as green covered lines and as red uncovered lines and not color added/removed lines.

[2017-09-18 19:35] marco-c commented on #6
Can we show a list of bugs or changesets instead of a list of pushes?
Pushes don't have any real meaning for release managers.

[2017-09-18 20:06] armenzg commented on #12
OK I will look into it.

[2017-09-18 21:14] armenzg commented on #20
I'm told that async await is the new hotness these days.

[2017-09-18 21:14] #20 closed

[2017-09-18 21:27] armenzg commented on #12
This is when the code coverage diffs is []:
https://cl.ly/1V2l0k0P2K2x

This is when there's 'miss' or '?':
https://cl.ly/0a072W0W300Y
https://uplift.shipit.staging.mozilla-releng.net/coverage/changeset/c20a1a0d01ff475ff8db96f9e1d81c579029fa77

In here's there's a mix of both:
https://cl.ly/1t3F2c2a0X1A

Can I please have feedback?

(I would give you a Review App but there's a deployment issue)
ht

[2017-09-18 21:40] armenzg commented on #12
This is when the code coverage diffs is []:
https://fx-codecov-staging-pr-25.herokuapp.com/#/changeset/14d7326af64d60a6be900427b468f94c7a2d2fda
https://cl.ly/1V2l0k0P2K2x

This is when there's 'miss' or '?':
https://fx-codecov-staging-pr-25.herokuapp.com/#/changeset/c20a1a0d01ff475ff8db96f9e1d81c579029fa77
https://uplift.shipit.staging.mozilla-releng.net/coverage/changeset/c20a1a0d01ff475ff8db96f9

[2017-09-18 21:40] armenzg opened #26 "Add Travis support"
For now we can run "yarn test" which runs "yarn lint && yarn build".

[2017-09-18 21:45] marco-c commented on #12
`?` means that we have no coverage info for that line (e.g. a comment, or a variable definition, and so on), so we should consider it as a non-coverable line and not color it.

[2017-09-18 21:47] marco-c commented on #12
Everything else looks good to me!

[2017-09-19 13:32] jmaher opened #27 "Changesets that don't yet have coverage data should not be linkified"
I am viewing:
https://fx-codecov-staging-pr-25.herokuapp.com/#/changeset/9a26478b903485d0f70b7a24fec0a7fe2d0c124f

I click on the "code coverage backend":
https://uplift.shipit.staging.mozilla-releng.net/coverage/changeset/9a26478b903485d0f70b7a24fec0a7fe2d0c124f

and I get:

error | "Couldn't find a build after the changeset"
-- | --

[2017-09-19 14:19] armenzg commented on #27
That is known.

That is because we have not yet finished the ccov jobs on Treeherder or finished uploading the report to codecov.

We can improve the wording or something else.

[2017-09-19 14:28] marco-c commented on #27
Once we have summaries in the list view, we can add an indicator near the commits where the data is missing.

[2017-09-19 14:28] marco-c commented on #27
Or, we could completely remove them from the list and only show them when we have a build

[2017-09-19 15:35] armenzg commented on #27
Or leave them there *but* not creating a link or even changing the font colour to make it dead obvious.

I want to keep so they don't think we're missing data or are behind on processing.

[2017-09-19 16:51] armenzg commented on #12
Just to be sure. I believe the current PR does what you describe in here. Please correct me if this is incorrect.

[2017-09-19 19:19] armenzg commented on #12
@klahnakoski I believe I've addressed your line colours. I would like to receive acknowledgment that it satisfies your requirements.

@marco-c I've added net coverage; does it work as you expected?
I will adjust the first value to be correct:

You can review it here:
https://fx-codecov-staging-pr-28.herokuapp.com/#/changeset/3816b3b4f793fc3d02b8e22af1a4ddeceff3ea09

[2017-09-19 20:52] armenzg opened #29 "parse-diff fails with certain diffs"
This [servo](https://hg.mozilla.org/mozilla-central/raw-rev/112dba6948d388a6154f073c4f09c2c6a9addcf7) diff makes the parser fail.

I'm thinking of switching to [this package](https://www.npmjs.com/package/diffparser) (since it is more actively maintained) and see if it gets fixed.

The full error can be seen on a development environment:
http://localhost:5000/#/changeset/112dba6948d388a6154f073c4f

[2017-09-19 21:12] armenzg commented on #29
Switching was not sufficient.

I've filed an issue with them:
https://github.com/fgnass/diffparser/issues/3

[2017-09-19 23:55] marco-c commented on #12
@armenzg the page is not loading the diff for me, only the summary at the top. Perhaps it's failing because the coverage data is being received before the diff from hg.mozilla.org?

[2017-09-20 13:29] armenzg opened #30 "Manual test plan"
Once we're satisfied with the product we should verify the following changesets:

- [Rust diff](http://firefox-code-coverage.herokuapp.com//#/changeset/112dba6948d388a6154f073c4f09c2c6a9addcf7)
  - Since we don't support Rust we should see a diff without highligting

[2017-09-20 13:37] armenzg commented on #29
This package:
https://www.npmjs.com/package/diff
has a lot of contributions and downloads.

Even though at first it does not look like a diff parser I read this in the docs:

[2017-09-20 13:52] armenzg commented on #12
The diff does load for me.
Instead I receive this error from the backend:

[2017-09-20 15:01] armenzg commented on #19
I added linting which can catch a lot of issues.

However, I would like us to learn how to write Flow types and change a file at a time.
I would like to reduce the number of bugs that get introduced into the app.

http://flow.org/

[2017-09-20 15:20] armenzg opened #31 "Editing the changeset node ID on a URL does not update the contents"
If you edit the address bar:
http://localhost:5000/#/changeset/112dba6948d388a6154f073c4f09c2c6a9addcf7
change the node id and press "enter" *only* some parts of the UI will update.

This is minor but should be fixed.

This might have to do with componentDidMount() not being called.

[2017-09-20 15:21] armenzg commented on #12
I've pushed a couple of fixes today.
I will close this issue with regards to coloring of lines.
https://fx-codecov-staging-pr-28.herokuapp.com/#/changeset/3816b3b4f793fc3d02b8e22af1a4ddeceff3ea09

[2017-09-20 15:21] #12 closed

[2017-09-20 18:09] marco-c opened #32 "Don't show backouts in the list view"
For backouts, the coverage information is not important.

[2017-09-20 20:18] armenzg commented on #32
Not showing backouts at the "push level":
https://fx-codecov-staging-pr-33.herokuapp.com/#/

I will need to do something similar at the cset level.

[2017-09-21 14:08] armenzg commented on #18
I've filed a bug for this:
https://bugzilla.mozilla.org/show_bug.cgi?id=1401964

I don't want to make 200+ fetches to get the dates for each changeset.

[2017-09-22 13:36] armenzg commented on #10
The dependent issues got resolved.

[2017-09-22 13:36] #10 closed

[2017-09-23 16:47] klahnakoski opened #34 "Increase size of the new line coverage change"
The most important number, in my opinion, is the net-new-lines covered:  Please make it bigger!

eg "New lines coverage change: 40.0%"

[2017-09-23 16:48] klahnakoski commented on #34
Please leave this for linkai, who will use this for his first pull request

[2017-09-23 16:50] klahnakoski opened #35 "Increase size of filename"
The filenames of the diff viewer are too small, make it bigger. so it overwhelms the less relevant "@@" chunk markers.

[2017-09-23 17:20] klahnakoski opened #36 "New and covered percent may be wrong"
Calculating `new_lines_covered/total_new_lines` may be wrong:  The new lines may not be on executable files, so should not be part of the count.  The UI should intersect the new lines of the changeset with the uncovered lines from the coverage to get `uncovered_new_lines`, which then can be used to calculate the percent new lines covered.

[2017-09-23 17:28] marco-c commented on #36
I mentioned this to @armenzg, so there could already be an issue on file.
It can be even simpler, without using info from the changeset itself:
- total_new_lines = all lines in the backend response which are either 'Y' or 'N';
- covered_new_lines = all lines in the backend response that are 'Y'.

[2017-09-25 00:26] armenzg commented on #34
Works for me.

[2017-09-25 00:30] armenzg commented on #36
Thanks for filing this.

What marco mentions is the correct approach.

This can be easily modified in here:
https://github.com/armenzg/firefox-code-coverage-frontend/blob/master/src/components/diffviewermeta.js#L26-L39

[2017-09-25 00:31] armenzg commented on #34
Wrap this in a span, add a className and add such to the .css:
https://github.com/armenzg/firefox-code-coverage-frontend/blob/master/src/components/diffviewermeta.js#L50

[2017-09-25 00:32] armenzg commented on #35
The class name is indicated here:
https://github.com/armenzg/firefox-code-coverage-frontend/blob/master/src/components/diffviewer.js#L94

It's a matter of making a change in the CSS file.

[2017-09-26 16:49] armenzg commented on #4
Until https://github.com/mozilla-releng/services/issues/632 gets fixed I will have to sequentially fetch for each push.

[2017-09-26 16:52] marco-c commented on #4
When https://github.com/mozilla-releng/services/issues/632 is fixed, the performance will be the more or less the same (as the requests will be performed sequentially on the server instead of on the client).
So if fetching sequentially seems too slow, we will probably have to increase the number of web/worker processes on Heroku.

(We should only care about the performance for the common case, whi

[2017-09-27 14:40] armenzg opened #38 "Add timeout support to all fetch requests"
Wrap fetch() in a Promise; add a setTimeout and call reject() if it goes off, otherwise resolve with the result of the fetch()

[2017-09-27 20:34] armenzg commented on #18
Fixed it:
https://github.com/armenzg/firefox-code-coverage-frontend/commit/22d5344951cf76a8c330fc67806dac76f72e6a8b

[2017-09-27 20:34] #18 closed

[2017-09-28 12:42] armenzg commented on #26
@LinkaiQi this is the issue I was referring to.

[2017-09-28 12:45] marco-c opened #41 "Don't show merges in the list view"
These commits contain hundreds of changes, it's difficult for a user to understand which change is being introduced by which patch and so it's difficult to blame a single patch for introducing uncovered code.

[2017-09-28 12:48] marco-c opened #42 "Reduce number of pushes in the list view"
Loading the page now:

Push date | Author | Changeset | Description | Collapsed csets | Coverage summary
-- | -- | -- | -- | -- | --
28/9/2017, 11:44:43 | Sebastian Hengst <arch | 76a26ef7c493 | merge mozilla-inbound to mozilla-central | 8 changesets in push - [Expand] |  
28/9/2017, 11:42:39 | Henrik Skupin <mail@hs | 82c2eecf82ba | Bug 1403616 - Defer logging of Marionett | 68 changesets in push

[2017-09-28 12:51] marco-c commented on #32
Is this fixed now?

[2017-09-28 12:51] marco-c commented on #36
Fixed by https://github.com/armenzg/firefox-code-coverage-frontend/pull/33?

[2017-09-28 13:54] armenzg commented on #32
Yes, it is:
https://github.com/armenzg/firefox-code-coverage-frontend/commit/d0f67b454fac0fe2e8b36d3f05831cddd32c3025#diff-5829105ceca28152250c963919b2ab04R82

[2017-09-28 13:54] #32 closed

[2017-09-28 13:56] armenzg commented on #36
Fixed in:
https://github.com/armenzg/firefox-code-coverage-frontend/commit/4f6feeb17c97262143e822a8db130366b52c5993

[2017-09-28 13:56] #36 closed

[2017-09-28 14:32] armenzg commented on #41
Works for you?

<img width="641" alt="screen shot 2017-09-28 at 10 31 57 am" src="https://user-images.githubusercontent.com/44410/30972357-54ad2a68-a438-11e7-97f5-439d1a0a8abe.png">

[2017-09-28 14:45] armenzg commented on #42
I think it would be a better UI if I all pushes had their changesets collapsed and let people decide which ones they want to expand.

It will also be easier once the pushes have a column with a code coverage summary.

[2017-09-28 14:46] armenzg commented on #42
I've pushed a change that limits the number of changesets to 180 or less.

[2017-09-28 16:14] marco-c commented on #41
Maybe we can hide them completely? Why showing them if they can't be opened anyway?

[2017-09-28 16:16] marco-c commented on #42
I think we should actually stop showing pushes completely, the changesets are the units of code users are going to be interested in (in their view, it doesn't matter whether the changeset is in a push or in another)

[2017-09-28 16:20] armenzg commented on #41
I'm concerned that Relman would get confused if they were to compared what is on TH and HG with this tool.

I'm happy to go that route and paddle back if we need to.

Leave as is? or hide them? Let me know and I will make it happen.

[2017-09-28 16:22] armenzg commented on #42
That is fine with me.

Assuming no pushes. How many changesets should I be showing?

[2017-09-28 16:23] armenzg commented on #42
Before I proceed that way, where do I place the coverage summary? (I was hoping to put it besides the tipmost changeset of a push)

Or should I not have code coverage?

[2017-09-28 16:25] armenzg commented on #42
I would also need to remove the push date (since individuals changesets don't carry metadata as to when they were pushed).

[2017-09-28 16:29] marco-c commented on #42
We could show it for each changeset. The overall percentage will be the same for all changesets belonging to the same push, the per-changeset coverage (percentage of code added by the changeset which is covered) will be different.

Maybe we can add the same date to all changesets belonging to the same push (we could also remove the hour I guess).

I would show all the changesets landed in the past

[2017-09-28 16:40] marco-c commented on #41
They mainly track things at the bug level or sometimes the changeset level (always starting from the bug to which the changesets are attached), so I think it should be fine to hide the merge commits.

[2017-09-28 17:04] armenzg commented on #42
The per-changeset coverage for each changeset on the main view would require hitting the backend one time per changeset (-minus all changesets that their push has no coverage). Do you think we could handle it on the backend?

Perhaps add an API that can return all per-changeset coverages in one shot?

Before making more UI redesigns, I would like relman to start providing feedback.
I would like fo

[2017-09-28 18:38] armenzg commented on #41
Would you mind confirming your assumption for me? Thanks!

FYI I will be derailed with another project for a week starting today.
I will only be able to help make small changes while I tackled that.

[2017-09-29 15:00] marco-c commented on #42
I think so, with the caching it should be fast enough.

This could speed it up even more. We could add an API to return all changesets in a changeset range (you ask for first and last changeset and it calculates the info for all changesets between first and last).

[2017-09-29 15:44] armenzg opened #44 "Add docs about coverage"
Add this information to the docs.

The added lines which are not covered are either:
- not instrumented because they are not executable (e.g. a comment, or a variable declaration);
- not instrumented because they are optimized out by the compiler;
- belong to files for which we don't collect coverage (e.g. Python files, INI files, and so on);
- a bug somewhere in the instrumentation or the parsing

[2017-09-29 15:49] armenzg opened #45 "DiffViewer - Do not show unsupported files"
Show them collapsed.

For example .ini and .py files.

[2017-09-29 15:53] marco-c commented on #45
This is what we do on the backend: https://github.com/mozilla-releng/services/blob/master/src/shipit_uplift/shipit_uplift/coverage.py#L242

It would be nice to have these lists in sync

[2017-09-29 16:42] marco-c commented on #41
Assumption confirmed!

[2017-10-02 16:40] armenzg commented on #44
Another doc with regards to the new net lines coverage percentage:

[2017-10-02 16:48] armenzg commented on #4
We have accomplished this.
We will tackle having summary for each changeset later.

[2017-10-02 16:48] #4 closed

[2017-10-02 16:49] #7 closed

[2017-10-02 17:00] armenzg commented on #27
With the most recent master changes we now don't linkify changesets that don't have coverage available.

Fixed with:
https://github.com/armenzg/firefox-code-coverage-frontend/commit/8ff26b5653706bda5404a2acc41ca4df9a7d3b86

[2017-10-02 17:00] #27 closed

[2017-10-02 17:02] armenzg opened #46 "Add coverage summary for each changeset"
CC: @marco-c

We currently only add the summary for the tipmost changeset of a push.

We would like to do the following instead:

- Once we know that a push has coverage data do a parallel fetch for every changeset in push
  - except for merges which should not be shown anyway
- Show a summary like this (more compact & to be discussed):
[code]

[2017-10-02 17:06] armenzg commented on #34
Fixed with:
https://github.com/armenzg/firefox-code-coverage-frontend/commit/e60d5b31452604a96793be16dd3df947532dd386

[2017-10-02 17:06] #34 closed

[2017-10-04 12:25] marco-c commented on #41
This is not finished yet, right? I still see merge commits in the list view.

[2017-10-04 12:26] marco-c opened #47 "When the backend returns 202, automatically re-request until it returns 200 or an error"
Right now, you have to reload the page to see the results.

[2017-10-04 12:33] klahnakoski opened #48 "Show 0/0 lines as 100%"
This will help RelMan when viewing the main page of changesets; they are only interested in low coverage.   0/0 does not fit their definition of low coverage

[2017-10-04 12:38] marco-c commented on #47
Until the backend returns 200, the frontend should show a spinner (or something similar to show that it is doing something) near the changesets it's waiting for.

[2017-10-04 14:35] armenzg commented on #41
Correct! My bad.

The only change was that they're not linkified.

[2017-10-11 21:26] yuenj opened #51 "Add file viewer"
CC: @LinkaiQi @klahnakoski @armenzg

This viewer would show the coverage, from multiple tests, for a given file, at a given revision.

The user should be able to interact with the UI to know what test covered what lines.

Based on discussions with Kyle,

- We intend to  get the sources from hg.  Here is an example:
https://hg.mozilla.org/integration/mozilla-inbound/raw-file/6b0491f83229/accessible

[2017-10-12 04:06] LinkaiQi opened #52 "Add revision-sidebar on the main(summary) view"
CC: @yuenj @klahnakoski  @armenzg

The revision numbers will be showed in a sidebar on the main view.
The revision number will be clickable.
User should be able to interact with the sidebar to choose which revision she/he wants to browse on

[2017-10-12 08:11] marco-c commented on #52
What is the purpose of this?

[2017-10-12 08:12] marco-c commented on #51
I think we should use the backend here and not ActiveData. The backend can then either use codecov.io or ActiveData.

[2017-10-12 14:37] armenzg commented on #52
@klahnakoski @LinkaiQi I don't understand what we're trying to do here. Could you please elaborate?

[2017-10-12 14:47] klahnakoski commented on #52
I made a fresh fork of this repo https://github.com/klahnakoski/firefox-code-coverage-frontend  we will add the ucosp specific issues and PRs there.

https://github.com/klahnakoski/firefox-code-coverage-frontend/issues/1

[2017-10-12 14:47] #52 closed

[2017-10-12 14:48] klahnakoski commented on #52
@marco-c  This is to show the tests that cover a file of a particular revision.

[2017-10-12 14:50] klahnakoski commented on #51
Moved issue  https://github.com/klahnakoski/firefox-code-coverage-frontend/issues/2

[2017-10-12 14:53] klahnakoski commented on #51
@marco-c   once the students have a working prototype they will be in a position to declare the type of data they require from the backend.

[2017-10-12 14:53] #51 closed

[2017-10-12 14:53] marco-c commented on #52
Wouldn't it better to have feature branches instead of a single place where all the ucosp work happens?

In the meantime, I've moved the discussion to:

[2017-10-12 16:06] armenzg commented on #52
I asked @klahnakoski to moved their work to Kyle's fork as it was causing too much noise for work that is mainly exploratory.

If they're to work in some of the issues that we have already identified (known to have value to our current scenarios and customer needs) they should work on this upstream repo.

[2017-10-12 16:06] marco-c commented on #52
OK, agreed!

[2017-10-13 15:54] armenzg commented on #44
A global % of code coverage is only accurate for Linux64 and not everything is covered.

What are the files that *should* be covered?

[2017-10-24 20:41] armenzg commented on #42
I will keep the concept of pushes internally, however, the UI won't allow you to know which changesets belong to which push (only if you view source).

This issue will be to reduce the number of changesets on the main view.

[2017-10-24 20:42] armenzg commented on #47
This is not happening in this deplyment/PR:
https://fx-codecov-staging-pr-54.herokuapp.com/
PR: https://github.com/armenzg/firefox-code-coverage-frontend/pull/54
Even though the PR is not for addressing this specifically.

[2017-10-24 20:51] armenzg commented on #6
@marco-c I don't think it will be too hard to "coalesce" changesets that have the same bug number in their description.

Do you want me to create a new issue for this specifically? We can keep this issue for the remaining minor issues.

![image](https://user-images.githubusercontent.com/44410/31967223-3dab50a8-b8db-11e7-9c8d-102714a850d4.png)

[2017-10-24 20:53] armenzg commented on #41
The new PR addresses this. Once it merges we can close this.

[2017-10-24 20:54] armenzg commented on #45
Would you be able to file an issue for an API that gives me this data? It will prevent falling out of date.

[2017-10-24 20:55] armenzg commented on #46
@marco-c I made a suggestion above about what each changeset should show.
Do you have any feedback?

[2017-10-24 21:37] marco-c commented on #42
With the caching we have implemented, reducing the number of changesets should no longer be necessary.

[2017-10-24 21:38] marco-c commented on #46
Sounds good to me! We could write:
[code]

[2017-10-25 12:24] #42 closed

[2017-10-25 22:57] armenzg commented on #41
Landed the PR.

[2017-10-25 22:57] #41 closed

[2017-10-27 12:16] marco-c commented on #6
Yes, makes sense.

[2017-10-27 12:18] marco-c commented on #45
Opened https://github.com/mozilla-releng/services/issues/692.

[2017-10-27 12:24] marco-c commented on #45
https://github.com/mozilla-releng/services/pull/693 will add this API.

[2017-10-27 18:12] armenzg opened #56 "ChangesetsViewer - Allow filtering changesets by description"
@marco-c CC

First of all, this is a non-trivial amount of work.

The easiest implementation would be to simply collapse changesets associated to 1 bug yet still be able to show each individually and reach the diff viewer for each changeset.

A perfect example of which cases would be benefit the most from this work would be a push like the one in the screenshot below (15+ changesets associated to

[2017-10-27 18:12] armenzg commented on #6
Filed: https://github.com/armenzg/firefox-code-coverage-frontend/issues/56

[2017-10-27 18:15] armenzg opened #57 "Main view - Allow sorting changesets per coverage score"
"I think one of the features we definitely want to have is a way to sort the changesets by coverage level (showing changesets with low coverage first)."

[2017-10-27 20:06] klahnakoski opened #58 "Change route to DiffViewer to be RESTful"
Please change the routing to the diffviewer so that the view ("diff") is explicit, and the changeset is a parameter.  Instead of

https://firefox-code-coverage.herokuapp.com/#/changeset/b2232cf95183b220c1918798e615a3591724f5c8

use

https://firefox-code-coverage.herokuapp.com/diff?changeset=b2232cf95183b220c1918798e615a3591724f5c8

[2017-10-27 20:09] klahnakoski commented on #58
This will allow us to add parameters later, like `file` to see just the diff on one file, or `coverage=all` to show all coverage, not just the stuff on new lines.

[2017-10-28 12:52] klahnakoski commented on #57
The difficult question is how far back in time do you want to go to find changesets with low coverage?  2weeks?  6weeks?  Do we want to hide changesets that have low coverage, but have been actively reviewed?

What do we expect the process to be if a changeset with low coverage is found?

[2017-10-29 11:51] klahnakoski commented on #58
Here is an example route for the file viewer

https://github.com/klahnakoski/firefox-code-coverage-frontend/blob/5ca5cb06be0be8625f69cf277bdff8e2c2a4617e/src/components/app.js#L62

[2017-10-30 16:15] armenzg commented on #58
The problem from this request is that we will start making the DiffViewerContainer more complex since it will have to handle multiple approaches (at least I foresee that).

The beauty of React components is that the subcomponents that DiffViewerContainer uses can be used in other routes/components.
This will actually be an easier way to develop than handling different use cases inside of the same

[2017-10-30 21:43] klahnakoski commented on #58
I do not see how the routing will affect DiffViewerContainer or vice-versa.  Maybe I am asking for https://firefox-code-coverage.herokuapp.com/diff to route to `DiffViewer` directly.

Looking at the code now, I see that `DiffViewer` is expecting a caller to provide all its data; I would have expected `DiffViewer` to accept just a `changeset` parameter and it would get all its own data.

[2017-10-31 13:22] armenzg commented on #58
That is because React you follow a unidirectional flow of data:
https://open.bekk.no/easier-reasoning-with-unidirectional-dataflow-and-immutable-data
https://open.bekk.no/easier-reasoning-with-unidirectional-dataflow-and-immutable-data
https://www.youtube.com/watch?v=i__969noyAM

[2017-10-31 15:45] klahnakoski commented on #58
The data flow still obeys the flux paradigm; it is still a DAG. The `DiffViewer` gets its data from the flux "Store" rather than being provided as parameters.  This does not break unidirectional flow of data.

[2017-10-31 15:54] klahnakoski commented on #58
At this point it appears English is useless.  I will make a pull request to demonstrate the solution.

[2017-10-31 17:11] klahnakoski commented on #58
see https://github.com/armenzg/firefox-code-coverage-frontend/pull/59

[2017-11-02 17:02] armenzg commented on #47
I'm thinking of creating a check every minute.
Once there are no changesets with a summary of "Pending" I will destroy the timer.
Works for you?

[2017-11-02 17:13] armenzg commented on #47
Another approach would be if there was a pub-sub type of solution where the server would let the client know that more data is available.

[2017-11-02 17:46] marco-c commented on #47
Maybe a bit shorter than 1 minute, 30 sec?

[2017-11-08 19:17] marco-c commented on #45
#693 was merged.

[2017-11-08 20:49] armenzg commented on #47
This has been fixed.

[2017-11-08 20:49] #47 closed

[2017-11-08 20:49] armenzg commented on #46
This has been fixed.

[2017-11-08 20:49] #46 closed

[2017-11-09 16:15] armenzg opened #61 "DiffViewer fails in certain changesets"
We cannot parse this changeset
https://firefox-code-coverage.herokuapp.com/#/changeset/3acb30b37718b0abc626416b9554acbc880a0078
https://hg.mozilla.org/mozilla-central/rev/3acb30b37718b0abc626416b9554acbc880a0078

@jmaher CC

[2017-11-09 19:59] armenzg commented on #58
Mentioned on the PR:

[2017-11-09 20:04] #30 closed

[2017-11-09 20:35] armenzg commented on #35
This has been addressed in the latest PR:
![image](https://user-images.githubusercontent.com/44410/32628374-a19880a6-c563-11e7-91f8-d8a67419a5c7.png)

[2017-11-09 20:35] #35 closed

[2017-11-10 14:56] armenzg commented on #57
I won't have time this quarter to work on this.
I have some code for a side project that dealt with sorting of columns in case someone wants to use it as a help for contributing here:
https://github.com/armenzg/readable-app/commit/b1bc24f17941f7d16b60c17327f91bf5d6df7b57

[2017-11-16 15:05] armenzg commented on #61
This got fixed.

[2017-11-16 15:05] #61 closed

[2017-11-16 15:12] armenzg opened #66 "DiffViewer - Explain what the colors for each line are"
We can either use a modal [1] or some info in a div.

@calixteman any preference?

[1] https://github.com/armenzg/readable-app/blob/master/src/components/post.js#L142-L160

[2017-11-16 15:17] calixteman commented on #66
Maybe just an info on the top of the page: [colored_green_box] covered line... just as reminder

[2017-11-16 15:24] armenzg opened #67 "DiffViewer - Sort files by least coverage at the top"
It's painful to find the uncovered added lines (need to scroll a lot).

Instead of iterating by what we receive from Hg web [1] let's look at the contents of `coverage.diffs[diffBlock.from]` first.

`diffBlock.from` is a filePath.
`coverage.diffs[diffBlock.from]` contains an object with a property per line:
[code]

[1] https://github.com/armenzg/firefox-code-coverage-frontend/blob/master/src/compo

[2017-11-16 15:33] armenzg opened #68 "DiffViewer - Refactor state structure"
Currently we have appError, csetMeta, parsedDiff and we do data manipulations across all modules.
Instead I want to do all coverage and parsedDiff manipulations in `DiffViewerContainer`, plus store new data. The data structure will be like this:
[code]

[2017-11-16 15:34] armenzg opened #69 "DiffViewer - Allow folding/unfolding files"
Issue #68 will contain the state structure changes to support this.

[2017-11-16 15:37] armenzg opened #70 "DiffViewer - Deleted files should be dealt with differently"
This changeset [1] shows deleted files. We should perhaps show them as folded by default.
Issue #68 will have the state structure required to support this.

[1] https://firefox-code-coverage.herokuapp.com/#/changeset/a1b15fe9224ebd2aa5a0e398b31383f3e938ab87

[2017-11-16 15:48] armenzg opened #71 "DiffViewer - Handle renamed and added files properly"
The second file is /dev/null and should be /dom/base/nsGlobalWindow.cpp

[1] https://firefox-code-coverage.herokuapp.com/#/changeset/862355bc5c589cc22420526d5bbf10e7f6f7ba78

[2017-11-16 15:54] armenzg opened #72 "DiffViewer - Lines with no coverage information are marked as miss"
This cset [1] has a bug at the end of the page.
There's 4 lines added.
The coverage data [2] only has data for 2 lines.
I was expecting another 2 lines with '?'

@marco-c is this a bug in the backend? or should I mark lines w/o coverage as white?

[1] https://firefox-code-coverage.herokuapp.com/#/changeset/c56352d90f678c2ad104da657aae116513502153
[2] https://uplift.shipit.staging.mozilla-releng.ne

[2017-11-16 15:56] armenzg opened #73 "DiffViewer - Add link to Bugzilla"
I'd like to have a link on the top of the page to bugzilla with correct bug number to add a pre-filled comment with coverage numbers.

[2017-11-16 15:58] armenzg opened #74 "refactor - Have unified state management"
This is due that each view was designed as different apps with their own separate state.

[2017-11-16 16:00] marco-c commented on #72
Yes, they should be marked as white. We have no coverage information for those two lines because they were removed in a changeset after c56352d90f678c2ad104da657aae116513502153 in the same push: https://hg.mozilla.org/mozilla-central/annotate/f41930a869a8/layout/build/nsLayoutStatics.cpp#l169.

[2017-11-16 18:26] armenzg opened #75 "DiffViewer - Reshuffle some links"
Move "GitHub", "Codecov" and "Coverage backend" links to the bottom of the page and make them very small.
They're only useful for contributors of this app when debugging.

[2017-12-01 14:59] klahnakoski commented on #67
Permalink:

https://github.com/armenzg/firefox-code-coverage-frontend/blob/700e78b2b476b8a3ecd1d9dc9b9d0f0c1390b381/src/components/diffviewer.js#L76

[2017-12-06 19:59] armenzg opened #77 "Normalized state for FileViewerContainer"
A lot of data manipulations happen at the lower components rather than at the top component.

Here's a comment from the PR (paraphrased):
----------------------------------------------
Calculate all of this information at the top level component where the data is fetched.
Create a data structure like this (There might more data needed for each line):
[code]

That way all data processing happens in

[2017-12-06 20:30] armenzg opened #78 "Decouple fetching raw file and coverage data for FileViewerContainer"
I had asked for the two to be tied together, however, fetching coverage data from ActiveData can take long enough that it can give a sense that the app hang.

My apologies for having ask for this as I know there was a widget to show the status of both fetches.
Let me find it.

[2017-12-06 20:48] armenzg commented on #78
I see some of such code in here:
https://github.com/mozilla/firefox-code-coverage-frontend/blob/acb9730df71f049cb20a9da6714ab02bc3d3a689/src/components/fileviewer.js
[code]

You can probably change [this](https://github.com/mozilla/firefox-code-coverage-frontend/pull/76/files#diff-b7b63156ee78a7fc858ea51c0a50c612R42) code to this:
[code]

[2017-12-06 21:24] klahnakoski opened #79 "Move coverage percentage logic to coverage parse logic"
The % covered is calculated in one place, while the coverage extracted from ActiveData is calculated in another.  Please find the two, and merge them, so all the processing is done in one place.

[2017-12-06 21:39] armenzg opened #80 "Add file viewing documentation"
Since I did not want to ask to get it fixed in #76

[2017-12-12 20:50] klahnakoski opened #82 "Test count is wrong?"
Example on line 2906: http://localhost:3000/file?revision=49abacf3fa74&path=/testing/marionette/driver.js

The count shows 13 but there is only one test listed. I t could be that there are three artifacts for this one suite for this revision.  Or maybe there is some other distinguishing feature that was missed

![image](https://user-images.githubusercontent.com/2334429/33907666-8972a7d4-df4b-11e7-

[2017-12-14 07:40] LinkaiQi commented on #82
Sorry, I cannot reproduce the error, which branch you on?
I think the issue is caused by all the 13 tests have the same ```test-suite```, ```chunk-number```, and the ```platform-name```.
Do you want to remove the duplicated tests? (I don't know if they are duplicated tests, since they have different ```_id``` in the data return from the backend )

**screenshot from current ucosp branch:**
http://l

[2017-12-15 17:42] klahnakoski opened #83 "File viewer - Add single-test coverage to the file viewer"
The file viewer has a list of tests on the right hand side.  Maybe clicking on a test will show only the lines covered for that test.

[2017-12-15 17:44] klahnakoski opened #84 "Use Treeherder codes in the test list"
ato says,

[2017-12-15 22:38] marco-c opened #85 "Diffviewer - Add link to view the full coverage of the files"

[2018-01-12 19:01] marco-c opened #87 "Add repository to contribute"
I've recently added https://github.com/marco-c/grcov, https://github.com/mozilla-releng/services and https://github.com/marco-c/code-coverage-reports. It would be nice to add this repository too.

[2018-01-15 14:47] armenzg commented on #87
How do we do that?

[2018-01-15 14:48] marco-c commented on #87
Here's an example: https://github.com/jdm/bugsahoy/blob/master/magic.js#L252.

[2018-01-19 16:20] klahnakoski commented on #73
Here is an example link  https://bugzilla.mozilla.org/show_bug.cgi?id=1429461

[2018-01-19 21:39] gmierz commented on #73
This json-diff view might help: https://hg.mozilla.org/mozilla-central/json-diff/8cde429207f3/layout/reftests/css-ui-valid/select/reftest.list

[2018-01-20 18:53] klahnakoski opened #90 "Main view - Add bugzilla links to summary viewer"
It would be nice if the commit message included a link to the bug show in that message

[2018-01-20 18:54] klahnakoski commented on #90
See https://github.com/mozilla/firefox-code-coverage-frontend/pull/88

[2018-01-20 19:54] Dottori opened #92 "Diff Viewer - CSS: Contents within pre tags overflow"
CSS for diff viewer does not handle resizing without overflowing, as described previously in the style.css file comments.

Issue raised for documentation purposes with a changeset example.

Example:
https://firefox-code-coverage.herokuapp.com/#/changeset/b572d99d0febdf94f140838c7c29867b873aa9e1

[2018-01-22 13:16] marco-c commented on #72
I believe https://firefox-code-coverage.herokuapp.com/#/changeset/ddb98ad66aa0 is affected too. We should double check it when this is fixed.

I'm attaching the screenshot of the problem. As you can see, the function is shown to be covered but the lines in the function are shown to be uncovered. I've checked the raw data and codecov.io, and in reality both the function and the lines in the functio

[2018-01-22 19:28] armenzg commented on #67
jhkren is working on this on PR #89

[2018-01-22 19:31] armenzg commented on #90
Is this issue a counterpart of issue #73?
Should both be addressed at once in a single issue/PR?

Dottori is currently working on this on PR #90.

[2018-01-22 20:02] armenzg commented on #16
@marco-c would you be able to verify the steps below?

Steps:
* Install the [requirements](https://docs.mozilla-releng.net/develop/contribute.html#requirements)
* On one terminal start the DB (```./please run postgresql```)
   * It could take several minutes
* On another terminal start the app (```./please run shipit-uplift```)
* Test that you can view all available APIs [here](https://localhost:8

[2018-01-22 20:09] armenzg commented on #26
@BeaverValley is this something you could please help with?

[2018-01-22 20:11] armenzg commented on #92
Are you referring to this?
![image](https://user-images.githubusercontent.com/44410/35242069-8a90110a-ff86-11e7-8533-43c84ebc8293.png)

[2018-01-22 20:53] marco-c commented on #16
Currently, you will also need to create a TaskCluster client and pass client ID and access token as additional parameters to `./please run shipit-uplift` like this: `./please run shipit-uplift --taskcluster-client-id=YOUR_CLIENT_ID --taskcluster-access-token=YOUR_ACCESS_TOKEN`. This is a bit of a pain for new contributors and I hope we can remove this requirement soon (CC @La0, @garbas)

[2018-01-22 21:13] armenzg commented on #16
If there's an issue would you mind pasting it here? I can't see it listed on the services repo.
Thanks!

[2018-01-22 23:15] klahnakoski commented on #90
@armenzg that is your call if these go together.  I figured one should be done now, and he other can be done in a simpler PR.  I just wanted to record the two seperate places the bugzilla links should go.

[2018-01-22 23:17] klahnakoski commented on #92
Yes, it was a comment, or TODO in the code, so I asked @Dottori to make a formal issue for it.

[2018-01-22 23:18] klahnakoski commented on #92
...mostly because she had a good example too.

[2018-01-23 13:43] armenzg commented on #73
I would like to get more info from Calixte wrt to the actual pre-filled comment format and how does that work.

[2018-01-23 13:44] armenzg commented on #90
@Dottori let's keep them separate.
Ignore issue #73 as we have some missing info there.

[2018-01-23 13:51] calixteman commented on #73
I think it isn't possible to add a pre-filled comment (in fact it's only possible to have a pre-fiiled comment #0 when you create a bug).
So maybe just having something to copy-paste in the bug.

[2018-01-23 14:24] armenzg commented on #73
@calixteman what would you like the text to be copied to look like?

@klahnakoski This issue could take most of the UCOSP term for one student.

I believe that we can add a comment via the BZ rest API:
https://wiki.mozilla.org/Bugzilla:REST_API
http://bugzilla.readthedocs.io/en/latest/api/core/v1/comment.html#create-comments

I believe @canuckistani would still recommend using his wrapper:
https:/

[2018-01-23 14:26] marco-c commented on #73
This is probably lower priority than other items.

[2018-01-23 14:29] calixteman commented on #73
Maybe a good way could be to add coverage info in a comment in using Marco's addon:
https://github.com/marco-c/code-coverage-addon

[2018-01-23 15:05] armenzg commented on #73
Should we don't close this issue?
We can revisit in the future if the addon is not sufficient.

[2018-01-23 16:22] marco-c commented on #73
Sounds good.

[2018-01-23 16:22] #73 closed

[2018-01-24 13:50] marco-c commented on #16
I filed https://github.com/mozilla-releng/services/issues/786.

[2018-01-29 13:55] armenzg opened #96 "Remove linting modifications"
I would like us to remove all linting modifications from .eslintrc.js
We should make our project be as close as possible to the airbnb linting rules.

This increases consistency across projects.

[2018-01-29 14:02] marco-c commented on #96
Have you considered using the Mozilla rules (eslint-plugin-mozilla) instead?

[2018-01-29 14:57] armenzg opened #97 "Load diffMeta and parentMeta in one shot and at the right places"
For some reason, I decided to do lazy-calculation (create two functions) for certain meta data and coupled it with coverage data fetching.
https://github.com/mozilla/firefox-code-coverage-frontend/blob/671366674d84d1ea9ca8ed3248541e23ec1ff8f2/src/utils/data.js#L137-L148

The only values that actually depend on fetching coverage data are `codecov` and `gh`.
The other ones can be calculated as part

[2018-01-29 15:09] armenzg commented on #26
Fixed:
https://github.com/mozilla/firefox-code-coverage-frontend/commit/70434d4cc28bef6ad3c33c575094ced804b62047

[2018-01-29 15:09] #26 closed

[2018-01-29 15:12] armenzg commented on #96
That seems rather oriented for the Firefox build environment.
@eliperelman and I are focusing on using AirBnb's linting rules accross our various web projects.

[2018-01-29 15:13] armenzg opened #98 "Switch to Neutrino instead of react-scripts"
To standarize across various web projects.

[2018-01-31 04:02] BeaverValley commented on #96
The default Airbnb [.eslintrc.js](https://github.com/airbnb/javascript/blob/master/linters/.eslintrc) is pretty empty. Is there another file you are already using as a guideline? Or are you referencing the various 'eslint' tags in the [Airbnb React Style Guide](https://github.com/airbnb/javascript/tree/master/react).

[2018-01-31 13:12] armenzg commented on #96
This is the one we're using:
https://www.npmjs.com/package/eslint-config-airbnb#eslint-config-airbnb-1
It extends from these four:
https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb/index.js
For instance, this is the rules that are specific to react:
https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb/rules/react.js

I think the guide is an ex

[2018-01-31 14:05] sylvestre commented on #96
@ahal @Standard8 FYI, as you are the expert on fx side ;)

[2018-01-31 15:15] Standard8 commented on #96
Just a slight clarification - it is oriented towards Firefox development, not just the build environment. Having only glanced at airbnb's style guide, I think a lot of the rules are likely to be the same (except for quotes, they seem to prefer single, we seem to prefer double).

eslint-plugin-mozilla has a small subset of rules at the moment, I'd like to be adding lots more, it just takes time to

[2018-01-31 15:29] eliperelman commented on #96
I agree with this.

This is an important distinction. It is tricky to re-use ESLint configurations for multiple targets, e.g. m-c vs. Node.js vs. the browser. I would agree that particular environments should warrant their own useful, but specialized, ESLint configurations.

[2018-01-31 21:19] Dottori opened #99 "ChangesetsViewer - Modify appearance of changeset description"
Changes should be made to modify the appearance of the changset description. Currently, it is a clickable link to the Bugzilla report.

Instead, it would be preferable to keep the description as plain text with an icon at the end of this text (on the right-hand side) that links to the Bugzilla report.

Please use the following icon:
https://github.com/fitzgen/bugzilla-todos/blob/gh-pages/lib/bugzi

[2018-02-01 14:43] armenzg commented on #99
👍 Thanks @Dottori for filing this.

[2018-02-01 18:50] BeaverValley commented on #96
@Standard8 et all, I'm new here, and don't have a lot of context for this project yet. Do you see any situation where firefox-code-coverage will be included in Mozilla Central?

[2018-02-01 18:54] eliperelman commented on #96
I don't believe so, this is meant to be running on an external server, and to be updated/deployed continuously.

[2018-02-01 18:58] apoorvaagupta commented on #87
Hello, May I give this issue a try, if no one is working on it?

[2018-02-01 19:00] apoorvaagupta commented on #97
@armenzg, Hello,  I would like to give this issue a try if mentored!

[2018-02-01 19:56] armenzg commented on #96
@BeaverValley in other words, we can continue with the original plan.

Removing the added rules in [.eslintrc.js](https://github.com/mozilla/firefox-code-coverage-frontend/blob/master/.eslintrc.js) and fixing the linting issues will be sufficient.

Thanks!

[2018-02-01 20:08] gmierz commented on #87
@Dottori mentioned she was working on this. I suggest this issue to start with getting familiar with everything: https://github.com/mozilla/firefox-code-coverage-frontend/issues/66

Jump in the Mozilla IRC on the #ateam channel to find us (I'm :sparky, @armenzg is :armenzg) if you have any questions.

[2018-02-01 20:11] gmierz commented on #97
Hi @apoorvaagupta, thanks for your interest in contributing! This issue is also claimed by someone (we'll be leaving notes on who's working on what more, sorry for that). Issue #66 will be the best to start with for you.

[2018-02-02 00:43] jhkren commented on #71
Working on this, part of #91

[2018-02-02 09:06] Dottori commented on #97
Hi Armen, I am not sure how we would populate these fields by calculating them during the creation of changesets.

I attempted to store hgRev in pushesToCsets in the summaryviewer.js file, but after entering the diffviewer, app.js routes to /changeset/:id and at this point, only the changeset id is passed. Or should I modify app.js as well to pass in the URLs? Sorry if I am misunderstanding the re

[2018-02-02 11:27] marco-c opened #101 "In the DiffViewer, hide or collapse removed files"
Since they are removed, they don't matter for coverage purposes.

I think they should either be not shown at all, or shown collapsed.

[2018-02-02 11:28] marco-c opened #102 "In the DiffViewer, hide files for which we don't collect coverage"
E.g. json, yml, etc.

I think they should either be not shown at all, or shown collapsed.

[2018-02-02 13:14] klahnakoski opened #103 "ChangesetsViewer - Shows nothing if the backend does not have coverage for recent changesets"
If coverage data from the backend is behind, then the summary viewer will show no changesets.  The backend is responding with 500 errors with "Couldn't find a build after the changeset".

I suggest the summary viewer look for the last-good-changset, and only show the coverage summary for those before that.

[2018-02-02 13:21] marco-c commented on #103
We should probably also do https://github.com/mozilla-releng/services/issues/681, so we have clearer errors.

[2018-02-02 13:46] armenzg opened #104 "Line numbers out of order"
This changeset:
https://firefox-code-coverage.herokuapp.com/#/changeset/2e5111f3d2725b95270fdc2618224858d2a207f1
shows oddities on the line numbers (2nd column):
![image](https://user-images.githubusercontent.com/44410/35736258-672557e4-07f5-11e8-8153-a312c2e7ac4b.png)

[2018-02-02 16:57] armenzg commented on #97
I've reviewed what you say and you're right.
What you're noticing is the side effects of #74 .
I hope to handle it later in the month as it is a big refactoring.

Do this instead and remove calles to `diffMeta()` and `parentMeta()`:
[code]

[2018-02-02 16:59] armenzg commented on #101
I believe this is a duplicate of #70.

[2018-02-02 16:59] #101 closed

[2018-02-02 17:01] Dottori commented on #97
T_T Oh thank gosh hehe. I thought I was crazy for missing something because it did not seem possible. Thank you Armen!

[2018-02-02 17:06] armenzg commented on #102
I think this is a dupliace of #45.

[2018-02-02 17:06] #102 closed

[2018-02-02 17:07] apoorvaagupta commented on #87
Thanks @gmierz !! I will definitely reach out to you on IRC in case of queries and meanwhile find other issues to contribute!

[2018-02-02 17:07] armenzg commented on #103
@klahnakoski I believe this kind of bug can be tested early in the morning when the sheriffs start merging to central.

[2018-02-02 17:08] armenzg commented on #103
In general, we should also have the ability of "loading more" changeset.

[2018-02-02 17:09] apoorvaagupta commented on #97
Thanks @gmierz I will check issue #66.

[2018-02-02 17:11] apoorvaagupta commented on #66
Hello @gmierz Can I take up this issue to start with?
Also, I may require your help as I am new to this project!

[2018-02-02 17:56] gmierz commented on #66
Yes, definitely. :)

You can either post any questions you have here in the issue or jump in the Mozilla IRC channel #ateam and ask any questions you may have to us there.

[2018-02-02 18:00] marco-c commented on #103
I can add an API to the backend that tells you the latest build with coverage. Or, you can use the existing API and parse the error message.

[2018-02-03 03:14] Dottori commented on #97
Hi Armen,

I have made the requested changes. Initially when I put in the pull request I assumed that the server was lagging, but I believe that the changes actually cause a performance issue.

What used to be contained in the diffMeta function() and was only called for when accessing paths of the form "/changeset/:id" is now being done for each filtered changeset in the summaryviewer as well.  Si

[2018-02-03 17:17] gmierz opened #107 "'Changeset' to link to Hg and add a different way to get to the diff viewer"
Recently, I've realized that the changeset link, in the changeset viewer page, isn't representative of what it does. We should either rename the 'Changeset' column to 'Changeset Coverage Diff', or add a separate link at the end of each line entry (next to the changeset number) to the diff page. With this, we can use the same changeset conventions as other places like Treeherder, that use the chang

[2018-02-03 17:37] gmierz commented on #85
I think it would be cool to have the path names at the top of each DiffBlock link to the full coverage shown in the FileViewer interface. It shows all coverage for a file and has the added benefit of showing us what tests use which lines.

[2018-02-03 21:09] gmierz commented on #97
Nice work @Dottori ! I tried running these changes locally and there's definitely a noticeable difference - I actually keep getting 500 errors.
![500error](https://user-images.githubusercontent.com/10966989/35771389-f52ec778-08f9-11e8-95d9-dbdbec2a011f.png)

@armenzg @Dottori If we can, it would be neat to load the displayed data in the summary viewer, and somehow load the rest in the background.

[2018-02-04 18:41] gmierz commented on #104
Can you explain more why you think this is a bug?

I think this is expected: when a line is removed, there is nothing in the second column until the first line that is still in the patched file. The lines in the second column correspond to the line numbers after those removed lines are taken into account.

[2018-02-04 20:44] jhkren commented on #107
@gmierz I'm interested in taking this one if it's open. Just to make sure, changeset should link to mozilla-inbound Hg patches (since Kyle mentioned it during the sprint and I see Treeherder doing the same thing)?

[2018-02-04 21:36] gmierz commented on #107
@jhkren Sounds good, it's yours!

It would be mozilla-central, not inbound - the only other branch we have coverage on is try (not displayed in the UI). Here's the type of link that I'm thinking it should be: https://hg.mozilla.org/mozilla-central/rev/ef1fefe4c6d1f95e2bdf872094e02e85c962aa86

Feel free to experiment and show us what you think of doing in a link to a sample (through github pages or

[2018-02-05 13:03] klahnakoski commented on #107
@jhkren, @Dottori

I owe you a summary of the Treeherder UI.  Let's do that on our Wednesday call.

[2018-02-05 15:27] armenzg commented on #6
We can file individual issues as need. No need to have a tracker.

[2018-02-05 15:27] #6 closed

[2018-02-05 15:27] armenzg commented on #9
We can file individual issues as need. No need to have a tracker.

[2018-02-05 15:27] #9 closed

[2018-02-05 15:29] armenzg commented on #16
If anyone is interested to work on this they can try to fix https://github.com/mozilla-releng/services/issues/786 first.

[2018-02-05 15:33] armenzg commented on #17
https://github.com/mozilla-releng/services/issues/786 needs to be fixed first.

I fixed something similar in https://github.com/mozilla/platform-health/pull/32/commits/a4db7cd844f51e0bcae79dc44a5eecb3993cab68 (Notice I'm using `neutrino` instead `react-scripts`) by adding something like this:

[2018-02-05 15:34] armenzg commented on #19
There's enough issues. No need to keep this around.

[2018-02-05 15:34] #19 closed

[2018-02-05 15:41] armenzg opened #108 "Switch to BrowserRouter instead of HashRouter"
Eli tells me that `browserHistory` is superior.
In fact we used to use it.

I figured out with him that I was not configuring things right.
[code]
This issue should be fixed after #98.

[2018-02-05 16:05] armenzg commented on #31
This might get fixed when switching to browserHistory #108

[2018-02-05 16:05] #31 closed

[2018-02-05 16:19] klahnakoski commented on #108
We are using `HashRouter` so the app can be hosted from a static site, [like S3](https://charts.mozilla.org/coverage/#/)

[2018-02-05 17:10] armenzg commented on #38
This has not really been an issue.

[2018-02-05 17:10] #38 closed

[2018-02-05 17:34] armenzg commented on #104
You got a point. Thanks for questioning it!

I guess it looks ugly.
I guess GH does it the same way:
![image](https://user-images.githubusercontent.com/44410/35819465-d0040922-0a70-11e8-8d26-2c933802809f.png)

[2018-02-05 17:34] #104 closed

[2018-02-05 17:42] armenzg commented on #108
Is that a limitation of BrowserRouter?

[2018-02-05 18:23] klahnakoski commented on #108
I do not know if "limitation" s the correct word; maybe "just different" is better. Everything before the hash (`#`) is to be sent to the server; everything after is a directive for the loaded page.  The BrowserRouter can hijack the server-bound portion of the URL and do stuff with it, but those URLs will not load unless there is a server supports them.

I admit HashRouter makes for ugly URLs with

[2018-02-06 17:33] abhaychawla commented on #21
Hello @armenzg, can I work on this issue?

[2018-02-06 18:41] gmierz commented on #107
I think if we rename it to 'Coverage Diff' we'll be good.

And alternatively, if we make an extra button at the end of the rows and then change the changeset link to hg it would also be good to me.

Considering that there is currently only one use for these rows, maybe we can change them to using a ListGroup to make each row clickable to go the diff viewer. I've done something similar in the old U

[2018-02-06 18:51] armenzg commented on #108
I didn't know we made uploading to S3 a requirement, however, I'm not too concerned with making this change if it inconveniences you. Happy to close.

[2018-02-06 18:51] #108 closed

[2018-02-06 18:56] armenzg commented on #21
Hi @abhaychawla absolutely!

Have you had a chance to read the [contributors' guide](https://github.com/mozilla/firefox-code-coverage-frontend/blob/master/CONTRIBUTING.md)?

Let me know if you have any trouble setting the project up.
Feel free to poke @gmierz (sparky on IRC) and me for any help.

[2018-02-06 19:11] gmierz commented on #107
@jhkren you can start working on this one whenever you want and show us what you think of.

[2018-02-06 19:16] armenzg commented on #107
If the weight of react-bootstrap is not too much and does not make things harder to learn give it a try.
Otherwise, it's fine to keep things simpler.

[2018-02-07 01:26] Dottori commented on #99
I would like to take this issue if it's free.

[2018-02-07 02:46] Dottori commented on #79
If this issue is free I would like to attempt to tackle it =)?

[2018-02-07 17:46] armenzg commented on #99
All yours!

[2018-02-07 17:49] armenzg commented on #79
@Dottori all yours

@klahnakoski I've found one; where is the other one?
https://github.com/mozilla/firefox-code-coverage-frontend/blob/671366674d84d1ea9ca8ed3248541e23ec1ff8f2/src/utils/data.js#L17

[2018-02-07 17:54] armenzg commented on #71
Well done!
Thanks @jhkren

https://github.com/mozilla/firefox-code-coverage-frontend/pull/91

[2018-02-07 17:54] #71 closed

[2018-02-07 18:45] klahnakoski commented on #79
https://github.com/mozilla/firefox-code-coverage-frontend/blob/b9e35dacc49392842154b34b6564b358f1a47dcf/src/components/fileviewercov.js#L96

[2018-02-07 18:47] klahnakoski commented on #79
https://github.com/mozilla/firefox-code-coverage-frontend/blob/b9e35dacc49392842154b34b6564b358f1a47dcf/src/components/fileviewercov.js#L96

[2018-02-07 20:43] abhaychawla commented on #21
Okay, thank you sir

[2018-02-08 13:38] klahnakoski opened #110 "Known issues should point to the upstream repo"
There is a warning at the top of the main page, when clicking on it we go to Armen's repo, not the main Mozilla repo.

[2018-02-08 13:45] armenzg commented on #110
I assume you're talking about this:
https://github.com/mozilla/firefox-code-coverage-frontend/blob/671366674d84d1ea9ca8ed3248541e23ec1ff8f2/src/components/app.js#L9

[2018-02-08 13:58] klahnakoski commented on #85
@Dottori

For now, we must know what revisions have coverage collected:

    {
        "from": "coverage",
        "groupby": ["repo.changeset.id12", "repo.changeset.date"],
        "where": {"and": [
            {"eq": {"repo.branch.name": "mozilla-central"}},
            {"gt": {"repo.push.date": {"date": "today-day"}}}
        ]},
        "limit": 100,
        "sort": {"repo.changeset.date": "d

[2018-02-08 13:59] klahnakoski commented on #110
Yes, sir!

[2018-02-08 14:28] marco-c commented on #85
The revision is already available as part of the reply from the backend (the `build_revision` field from https://uplift.shipit.staging.mozilla-releng.net/coverage/changeset/17704f81efef6b2b3b93fb0d80d6f128cf85faf0).

[2018-02-08 16:27] #110 closed

[2018-02-08 16:30] armenzg commented on #98
Running in here:
https://firefox-code-coverage-pr-109.herokuapp.com/#/

[2018-02-08 16:40] armenzg commented on #99
@Dottori look at the .neutrinorc.js configuration for html generation and the output of the generated html file from this PR:
https://github.com/mozilla/firefox-code-coverage-frontend/pull/109
[code]
[code]
The two items under the `html` object add a `<title>` tag and a `<link>` tag.

You can see an example of an icon being added in here:
https://github.com/jaketrent/html-webpack-template#example

[2018-02-09 09:01] Dottori commented on #85
Hi @marco-c  : Just to clarify, do you mean that the build_changeset (I am assuming that this is what you mean by build_revision) field stores the most recent revision/the revision with the most number of records? Also: yay thank you that makes this task a breeze.

[2018-02-09 10:57] marco-c commented on #85
It is the revision from which the coverage for the changeset was generated.
We might want to put a link to codecov.io here instead of the FileViewer, since the data we show in the diffviewer is coming from there.

[2018-02-09 11:11] Dottori commented on #85
Hi @marco-c =D

Example:https://firefox-code-coverage-pr-109.herokuapp.com/#/changeset/687cee80487fc2416b2ecacf8ca8e54de1f72ec2

For the js/src/wasm/WasmValidate.cpp file (the last changeset on the page) would the corresponding link to the codecov.io file be:
https://codecov.io/gh/marco-c/gecko-dev/src/cda04ea11e3710c9e7d45c20efc21db1a2d0d70b/js/src/wasm/WasmValidate.cpp

?

[2018-02-09 11:19] marco-c commented on #85
https://codecov.io/gh/marco-c/gecko-dev/src/cda04ea11e3710c9e7d45c20efc21db1a2d0d70b/js/src/wasm/WasmValidate.cpp

Exactly! For the codecov.io link you can use the `git_build_changeset` in the data returned by the backend.

[2018-02-09 14:42] klahnakoski commented on #85
The plan is to eventually use ActiveData as the coverage datastore because we can store it at a higher resolution, add annotations, and make it queryable.

https://charts.mozilla.org/coverage/#/file?revision=8cc2427a322c&path=js/src/wasm/WasmValidate.cpp

[2018-02-09 14:56] klahnakoski opened #115 "Let fileviewer accept any length revision number"
It is not obvious that the revision number must be 12 characters:

This works

https://charts.mozilla.org/coverage/#/file?revision=8cc2427a322c&path=js/src/wasm/WasmValidate.cpp

while this does not

https://charts.mozilla.org/coverage/#/file?revision=8cc2427a322caa1e2c09ca3957335f88e573dc7a&path=js/src/wasm/WasmValidate.cpp

[2018-02-09 14:59] klahnakoski opened #116 "Add source file scroll bar"
The tests list scroll bar and the page scroll bar are beside each other, making it difficult to figure out which scroll bar is used to scroll the source code. Please put the source code in a scrolling div (like the test list) so the source code scroll bar is left of the tests list.

From https://github.com/klahnakoski/firefox-code-coverage-frontend/issues/47

[2018-02-09 15:01] klahnakoski opened #117 "[FileViewer] When a line is deselected, restore showing all tests for the file"
There should be a way for the user to go back to viewing all of the tests that cover the file

was https://github.com/klahnakoski/firefox-code-coverage-frontend/issues/51

[2018-02-09 15:01] klahnakoski commented on #117
Oops!  this is done

[2018-02-09 15:01] #117 closed

[2018-02-09 15:03] marco-c commented on #115
They both don't work for me.

[2018-02-09 15:08] armenzg commented on #116
Could you please place a screenshot or link for others to see what you mean? Thanks!

[2018-02-09 15:28] marco-c commented on #85
We should think about this a bit more, as it might make more sense to build a specialized solution for code coverage (in terms of disk usage and perf). In the meantime, since the diffviewer is based on codecov.io, I would use codecov.io for the links from the diffviewer. Otherwise, if the revision is somehow missing in ActiveData, we would show something different in the diffviewer and in the page

[2018-02-09 16:03] armenzg commented on #67
Well done! 😄

[2018-02-09 16:03] #67 closed

[2018-02-09 16:14] #98 closed

[2018-02-09 17:22] #21 closed

[2018-02-09 17:40] marco-c commented on #72
This is happening pretty often, e.g. https://firefox-code-coverage.herokuapp.com/#/changeset/5b5d0df3b6eed562b1489e4f910735b7a77b56f7. The only line that should be colored is `gfxDWriteFont::UpdateClearTypeUsage();`.

[2018-02-12 16:01] armenzg commented on #72
I will raise it up.

[2018-02-12 16:14] armenzg commented on #72
@jhkren graciously volunteered for this. Thank you!

[2018-02-13 11:19] Dottori commented on #99
Hi armen, the examples you showed seem to be utilized to add an icon to the browser's tab (which in my case would lead to the bugzilla icon showing up on our webapp's tab). I tried to lookup resources to see if it could also be used to import images, and I only see a section about webpack. Is importing the image in summaryviewer as follows not acceptable?

import bzIcon from '../static/bugzilla.pn

[2018-02-13 13:58] armenzg commented on #99
My apologies. I sometimes don't know what I was thinking.

Just using an `img` and a `a` tags should be sufficient. No need to import as a module.

[2018-02-13 14:00] Dottori commented on #99
Nooooo! No apologies necessary XD. I will let you know when I finish making the changes to the appearance of the link and squash the commits.

[2018-02-13 18:39] calixteman opened #119 "Main page should be put in a cache"
It's pretty painful to have to wait again when going back from a changeset (with the left arrow in the bar).

[2018-02-13 18:49] klahnakoski opened #120 "Bad coverage calculation?"
example:

https://firefox-code-coverage.herokuapp.com/#/changeset/3171a2575b4efae71c994a41d3c06391d3c868f5

[2018-02-13 18:51] klahnakoski commented on #120
@Dottori @jhkren

May you look into this?  Please claim it if you think you can fix it, so the other does not.

[2018-02-13 21:11] armenzg commented on #119
I wonder if using localStorage is the right solution here:
https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage

I will consult someone and ask who from UCOSP could tackle this.

[2018-02-13 21:16] marco-c commented on #119
If we want to store data locally, I suggest IndexedDB (maybe via `localForage`, which offers the same interface as localStorage). localStorage is synchronous and can cause performance issues because of that.

[2018-02-13 21:17] armenzg commented on #119
Fetching json-pushes could be improved by hitting `version=2` and we would get the `lastpushid` data.
That would allow for doing follow up fetches using `startID`.
https://hg.mozilla.org/mozilla-central/json-pushes?version=2&startID=33436&full=1

Maybe there's something on the headers that can be used to determine if there would be anything newer.

[2018-02-13 21:24] armenzg commented on #119
An article going over it (now this is for standard localstorage):
https://www.robinwieruch.de/local-storage-react/

Agreed on [localforage](https://www.npmjs.com/package/localforage):
https://hacks.mozilla.org/2014/02/localforage-offline-storage-improved/

[2018-02-14 13:29] calixteman commented on #119
Wouldn't be possible to put the main page in a cache on server side and invalidate it when new changesets are coming ?

[2018-02-14 13:33] calixteman opened #122 "ChangesetsViewer - Do not truncate author name"
I think it'd be better to have the full author description rather than a truncated one.

[2018-02-14 13:42] armenzg commented on #122
Do you care about the email address?
Should it be mailto: link?

[2018-02-14 13:45] calixteman commented on #122
Should it be mailto: link? => good idea
Anyway, I reported this issue, just because it isn't nice like this (so just a matter of taste).

[2018-02-14 13:48] armenzg commented on #119
@calixteman I will leave it for @marco-c to answer that.

For the record, I've learned that localStorage is not what localForage uses unless the browser it runs on does not have IndexedDB or WebSQL support.

Another note from Eli:

[2018-02-14 20:32] jhkren commented on #120
@klahnakoski Let me take a look at this one

[2018-02-15 04:57] gmierz opened #123 "Building and running on windows gives line ending errors."
I'm not yet sure which commit did this, but I was able to build and run before. Currently, I'm getting errors like this when running `yarn start`:

error: Expected linebreaks to be 'LF' but found 'CRLF' (linebreak-style) at src\utils\symbol.js:4:41:
  2 | export const TRIANGULAR_BULLET = '\u2023';
  3 | export const HORIZONTAL_ELLIPSIS = '\u2026';
\> 4 | export const HEAVY_CHECKMARK = '\u2714';

[2018-02-15 14:25] armenzg commented on #123
This will probably fix it:

Maybe we want to do this:

You can read more about it here:
https://github.com/eslint/eslint/blob/master/docs/rules/linebreak-style.md

I'm surprised linting does not catch it. I assumed it did not matter which host would run it.

You can disregard those warnings when running `yarn install`.

[2018-02-15 15:19] marco-c commented on #119
We can get to that if needed, but I think it would be preferable to cache the data on the client side (just like the browser cache).

Maybe we can also add an endpoint to retrieve data for multiple changesets at the time.

[2018-02-15 19:55] gmierz commented on #123
Ok, using `yarn lint --fix` worked to fix this issue. Thanks for the help!

If you want we could add that line to the .gitattributes file, but I'm fine with running the command to get it working.

[2018-02-15 20:20] armenzg commented on #79
Another issue bites the dust!

[2018-02-15 20:20] #79 closed

[2018-02-15 20:30] armenzg commented on #123
Only if it itches your curiosity!

[2018-02-15 20:30] #123 closed

[2018-02-16 22:30] armenzg commented on #48
@klahnakoski I tried understanding this. Do you have an example?

[2018-02-20 16:14] klahnakoski commented on #48
I think we can close this. 0 of 0 lines now shows as "no changes"

[2018-02-20 16:14] #48 closed

[2018-02-20 17:49] Dottori commented on #119
=) If this issue is still open, I would like to take a try at it.

[2018-02-20 18:44] klahnakoski commented on #119
@Dottori   I suggest against this one; I fear the implementation plan is not yet clear.  Eli's suggestion of GraphQL with Apollo Client seems best, but requires changes on both client and server.  Also, we should focus on the UI parts of the application; "make it faster" can be left for later.

Please pick from the high priority items: https://github.com/mozilla/firefox-code-coverage-frontend/mile

[2018-02-20 18:57] marco-c commented on #119
This is a bit painful though, as it makes the UI too slow when pressing the back button (which I guess happens often, when you want to look at several changesets). Since the data is already loaded, it makes sense to cache it and not reload it all the time.

The GraphQL suggestion can be a long term solution, but it's definitely not going to happen any time soon, so I would suggest implementing a l

[2018-02-20 18:57] #120 closed

[2018-02-20 19:22] klahnakoski commented on #119
Okay. Maybe there is a simple solution for the most common use cases.

@Dottori marco changed my mind: If you have a relatively simple, frontend only, solution to cache the index data and avoid calls to the service, then feel free to submit a PR.  Maybe a little logic in `fetchPushes` will do the trick?

[2018-02-20 23:29] Dottori commented on #122
I'd like to take this issue if it's free =)?

[2018-02-21 00:41] Dottori commented on #122
<img width="956" alt="screen shot 2018-02-20 at 7 38 47 pm" src="https://user-images.githubusercontent.com/9650509/36457018-e8ce5ae6-1675-11e8-8bfd-222bf00cc718.png">

Is there a preference for the appearance of the mailto: link?

[2018-02-21 12:41] calixteman opened #126 "Parse the diff failed"
The diff here https://firefox-code-coverage.herokuapp.com/#/changeset/4e655361be5a failed to be parsed.
So two things:
 - fix it  :)
 - in such a situation: add a link to github repo to file an issue

[2018-02-21 12:48] marco-c commented on #126
I bet the parsing failed because of the very long commit message.

[2018-02-21 14:28] armenzg commented on #126
@Dottori @jhkren Is this something that interests you? It's really fine to say 'no'. No one would be dissapointed!

Minimun steps for this issue:
* Make the code show on the page an explanation of what happend and encourage the user to filean issue in here https://github.com/sergeyt/parse-diff/issues/new
  * Also output the link to the HG raw diff

Extra optional action:
* See if we can produce a

[2018-02-21 14:40] calixteman commented on #122
@armenzg :+1:
@Dottori you should check that a '@' is present in the email address (it isn't the case for Milan Knezevic on your screenshot).

[2018-02-21 14:57] calixteman commented on #126
I think that the dashes at the beginning of certain lines in the description are responsible of this failure (probably the file where the deletion counter is incremented is null since we're in the description).

[2018-02-21 19:21] Dottori commented on #122
@calixteman Hello~ it appears that Milan does not have a valid e-mail address. Would you prefer that I leave the e-mail field blank for these individuals or indicate in some way that the user does not have a reachable e-mail address?

@armenzg:
Clicking on the red e-mail link will go straight to composing an e-mail (it is a mailto link). Should I use an e-mail icon to make it more apparent or leav

[2018-02-21 20:12] armenzg commented on #122
@Dottori feel free to add an email icon to the left of the user.
You can probably use this:
https://thenounproject.com/term/email/205162/
Add an attribution like this:
https://github.com/mozilla/firefox-health-dashboard#attributions

Don't worry too much about extremes. You can probably cut names after 60 chars.

If you wrap the icon within a <span> with a class name you can add padding to it.

[2018-02-21 22:28] Dottori commented on #122
@armenzg There is a "created by ...." text attribution on the icon itself from the free download. Is there an existing subscription to this library?

[2018-02-22 13:39] marco-c opened #127 "Show commit message at the beginning of the page in the DiffViewer"

[2018-02-22 13:43] armenzg commented on #122
No, we don't have a subscription. I can get it when we know we're happy with the results (I'm happy so far). This is looking nice.

@calixteman does the screenshot look good to you?

@Dottori looking forward to reviewing this.

[2018-02-22 13:52] calixteman commented on #122
@armenzg :+1:

[2018-02-22 14:51] armenzg commented on #119
@Dottori I read the etherpad. Redux won't be storing data locally.

If you're having trouble I normally try a tutorial or set up a new project just adding the new feature I'm trying out (that way no other code from an exisint project distracts me).

Please ping me or post questions in here. I will try to answer them as soon as possible.

[2018-02-22 16:53] Dottori commented on #119
@armenzg Hi Armen! Greg actually helped me out after the weekly meeting =D.   Would you be able to take a quick look at the WIP? I will put in a pull request.

[2018-02-22 17:54] armenzg commented on #119
I'm glad to hear. Yes, let me know when the PR is up.

[2018-02-23 13:55] armenzg opened #130 "Load more changesets and remove "Loading..." message when done"
This morning we briefly had the message "we're fetching data in the background" + the "Loading..." message. I think we should get rid of the "Loading..." message as soon as we either show changesets or say that we're waiting for the backend.

In any case, if we are "waiting" we should also load more changesets from the past since we might wait and have nothing to display.

It would also be great t

[2018-02-23 14:24] #107 closed

[2018-02-28 20:37] armenzg opened #132 "Add some tests for the utils modules"
We've got some utils function in [here](https://github.com/mozilla/firefox-code-coverage-frontend/tree/master/src/utils) that we could add some tests for.

[2018-02-28 20:48] armenzg commented on #132
On the fx-health-backend, this entry allows for running tests:

and get code coverage [1].

The dependencies needed are:
* `nyc`
* `@neutrinojs/mocha`

On a follow up we can add `coverals` to hook up coveralls.io (e.g. https://coveralls.io/github/mozilla/firefox-health-backend).
I don't recall the reason for `mocha-lcov-reporter`. It might be needed to make `nyc` work with `mocha`.

[1]
[code]

[2018-03-01 17:44] armenzg commented on #119
This got deployed.
The current cache is of 24 hours. Please let us know if there are any issues.

Thanks @Dottori !

[2018-03-01 17:44] #119 closed

[2018-03-01 17:47] armenzg commented on #68
I'm closing this.
The original issue is handle via the caching of the main page fetching.

[2018-03-01 17:47] #68 closed

[2018-03-01 17:48] armenzg commented on #74
This has been improved via local caching.

[2018-03-01 17:48] #74 closed

[2018-03-01 17:49] armenzg commented on #75
This was fixed thanks to @Dottori

[2018-03-01 17:49] #75 closed

[2018-03-01 17:50] armenzg commented on #70
This was handled by @jhkren in #91

[2018-03-01 17:50] #70 closed

[2018-03-01 17:54] armenzg commented on #66
There's some work done in #106.
We haven't heard from @apoorvaagupta in a while. This is probably fine to be worked on unless she comes back (we would love your help!).

[2018-03-01 17:56] armenzg commented on #16
I'm closing this until it is taken care of in https://github.com/mozilla-releng/services/issues/786

[2018-03-01 17:56] #16 closed

[2018-03-01 17:57] armenzg commented on #17
Unimportant until we can actually set up the backend locally.
https://github.com/mozilla-releng/services/issues/786

[2018-03-01 17:57] #17 closed

[2018-03-01 18:01] armenzg commented on #77
I will file it again if I believe it is important to tackle.

[2018-03-01 18:01] #77 closed

[2018-03-01 18:02] armenzg commented on #44
The file viewer needs to be documented:
https://github.com/mozilla/firefox-code-coverage-frontend/pull/76

[2018-03-01 18:02] armenzg commented on #80
To be tackled in #44

[2018-03-01 18:02] #80 closed

[2018-03-01 18:03] armenzg commented on #78
Whatever.
This only applies to the file viewer which we don't use often.

[2018-03-01 18:03] #78 closed

[2018-03-01 18:07] armenzg commented on #82
By the time we have someone dedicated to working on this we will not be able to reproduce this anymore.

Besides, when this becomes a feature wanted by RelMan or other parties we will reconsider fixing it.

[2018-03-01 18:08] armenzg commented on #83
Once this is a feature wanted by external parties we will re-consider investing in here.

[2018-03-01 18:09] armenzg commented on #90
This got fixed thanks to @Dottori

[2018-03-01 18:09] #90 closed

[2018-03-01 18:10] armenzg commented on #84
When this becomes a priority by a third-party we can re-evaluating if this is an area we want to invest in.

[2018-03-01 18:12] armenzg commented on #85
Fixed by @Dottori

[2018-03-01 18:12] #85 closed

[2018-03-01 18:16] armenzg commented on #97
Fixed!

[2018-03-01 18:16] #97 closed

[2018-03-01 18:38] marco-c commented on #119
Great work!

[2018-03-01 20:15] armenzg opened #133 "Make 'file' view usable"
It currently relies on ActiveData, which, after we upgrade to the latest version by the end of May we should consider either keeping or replacing.

The current setup can take many minutes (by sheer reloading) or never work.

Here's a link to this view:
http://firefox-code-coverage.herokuapp.com/#/file?revision=49abacf3fa74&path=/testing/marionette/driver.js

[2018-03-05 17:43] armenzg commented on #126
This has been fixed.

[2018-03-05 17:43] #126 closed

[2018-03-05 17:44] armenzg commented on #126
Once the deployment completes this URL will work:
https://firefox-code-coverage.herokuapp.com/#/changeset/4e655361be5a

[2018-03-07 21:09] klahnakoski commented on #115
Here is a new link:
https://charts.mozilla.org/coverage/#/file?revision=36c84344de23&path=js/src/wasm/WasmValidate.cpp

For if you are looking for a revision, for this file

    {
        "from": "coverage",
        "where": {"and": [
            {"gt": {"repo.changeset.date": {"date": "today-2day"}}},
            {"eq": {"repo.branch.name": "mozilla-central"}},
            {"eq": {"source.file.na

[2018-03-07 21:35] armenzg commented on #115
I'm getting and XML issue when clicking on that first URL.

[2018-03-07 22:05] klahnakoski commented on #115
I did not notice that this was the old charts link.  Here is the heroku link

https://firefox-code-coverage.herokuapp.com/#/file?revision=36c84344de23&path=js/src/wasm/WasmValidate.cpp

but is still do not see a problem.

[2018-03-07 23:26] marco-c opened #135 "Changeset pages loaded directly without going through the homepage first sometimes are not rendered"
I tried to open https://firefox-code-coverage.herokuapp.com/#/changeset/3cee5c02db0a065f081989d3e0514563aac355ab and a blank page was rendered (with some `var is undefined` error in the web console, that I forgot to copy unfortunately).

It isn't the first time I can reproduce this.

[2018-03-08 09:53] sylvestre opened #136 "Please add a github ribbon"
https://blog.github.com/2008-12-19-github-ribbons/

[2018-03-08 09:54] sylvestre opened #137 "DiffViewer - Add link to the bug and show the commit message"
Reading at:
https://firefox-code-coverage.herokuapp.com/#/changeset/3cee5c02db0a065f081989d3e0514563aac355ab

I don't know how know to get the bug number to complain about the 0 code coverage on the patch.

[2018-03-08 09:55] sylvestre opened #138 "Diff Viewer - Add link to bug and commit message"
From this page:
https://firefox-code-coverage.herokuapp.com/#/changeset/3cee5c02db0a065f081989d3e0514563aac355ab

Would be great to have the commit message to understand what the change was about.

[2018-03-08 13:51] armenzg commented on #135
Where you trying to edit the URL and then pressed enter?

If you could please get the console errors that would be great.

I'm going to see if I can add sentry support so I can track frontend issues.

[2018-03-08 13:51] armenzg opened #139 "Add sentry.io support"

[2018-03-08 13:53] marco-c commented on #135
I loaded that URL directly, clicking on a link in an email.

[2018-03-08 13:55] armenzg commented on #137
The current path would now be to click on the "HG diff" link and get to the bug through that.

[2018-03-08 18:22] marco-c commented on #135
I've just seen this again, on https://firefox-code-coverage.herokuapp.com/#/changeset/4cf7f246faed504f8568adcf786124f8aff88031.

In the web console:
[code]

[2018-03-08 20:12] armenzg opened #141 "Generate source maps for production"
It will help debugging production issues.

[2018-03-08 20:18] armenzg commented on #135
How often does this happen?

That makes reference to the minified code and is not useful for debugging.
The issue did not make it all the way to sentry.io

Since we're open source, we can the source maps and that will make the devtool allow you to reach the original source:
https://github.com/mozilla/firefox-code-coverage-frontend/pull/142

You might want to use Chrome to make the experience easie

[2018-03-08 20:24] armenzg commented on #141
It seems to work:
https://cl.ly/1L103W2x0o0y

[2018-03-08 20:24] #141 closed

[2018-03-08 20:25] armenzg commented on #135
I think source maps is working well: https://cl.ly/1L103W2x0o0y
It should be deployed soon.

[2018-03-08 20:35] marco-c commented on #135
It happens pretty often on the first load of the website.

I'll report back once I reproduce again.

[2018-03-08 20:35] marco-c opened #143 "Can't parse patch for changeset a66754828b42ed065348a19b6e9336f95fa72b78"
https://firefox-code-coverage.herokuapp.com/#/changeset/a66754828b42ed065348a19b6e9336f95fa72b78

[2018-03-08 21:26] armenzg commented on #143
It worked for me.
Did you past the wrong link?

[2018-03-08 21:37] marco-c commented on #143
It says "We did not manage to parse the diff correctly." for me.

[2018-03-12 13:33] armenzg commented on #143
I will look into it.

[2018-03-12 13:39] armenzg commented on #139
I got this working.
So far it's not helped catching issues reported by @marco-c

[2018-03-12 13:39] #139 closed

[2018-03-12 14:16] armenzg commented on #29
This got fixed with https://github.com/mozilla/firefox-code-coverage-frontend/commit/e0a68277ec462ee03ce78fa033ee862f20e7003e

URL to test: http://firefox-code-coverage.herokuapp.com/#/changeset/112dba6948d388a6154f073c4f09c2c6a9addcf7

[2018-03-12 14:16] #29 closed

[2018-03-12 14:34] armenzg opened #144 "Re-throw errors if we're not being specific when catching them"
In this change [1] I catch an error with typeof and e.message to be sure it is the one I want to catch.
We have a lot of code catching errors, however, if we're not being specific we can hide other errors.

I would like this issue to:
* Find all instances of catching errors that are not being specific
* If we cannot easily cause the errors and make the catch more specific we should add `throw erro

[2018-03-12 14:43] arushnagpal commented on #144
I would like to contribute to this issue, Can I help?

[2018-03-12 14:45] armenzg commented on #144
Sure! Have a look at the contribution guide and look for try/catch blocks on the code.
https://github.com/mozilla/firefox-code-coverage-frontend/blob/master/CONTRIBUTING.md

Thanks!

[2018-03-12 14:52] armenzg commented on #144
Could you also see to introduce an error boundary wrapping the whole app?
https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html#introducing-error-boundaries

Probably replacing it this div:
https://github.com/mozilla/firefox-code-coverage-frontend/blob/master/src/components/app.js#L39
You will probably need to create an error_boundary.jsx file.

The call to `logErrorToMyService` shou

[2018-03-14 01:50] arushnagpal commented on #144
I just went through the react tutorial. Thanks for the heads up. I'll look into it today.

[2018-03-14 02:54] csd713 commented on #136
hello @sylvestre and @armenzg  I have created a PR for this issue. Please review it.!

[2018-03-14 14:28] armenzg commented on #136
Good choice on the green colour!

Let me know if there are other initial issues that interest you:
https://github.com/mozilla/firefox-code-coverage-frontend/labels/good%20first%20issue

[2018-03-14 14:28] #136 closed

[2018-03-14 15:26] armenzg opened #147 "DiffViewer - Do not fail if we get a 202 from the backend"
I found this error on Sentry.io [1] (from last night):

from someone visiting [this page](https://firefox-code-coverage.herokuapp.com/#/changeset/3cee5c02db0a065f081989d3e0514563aac355ab). The referrer came from [here](https://github.com/mozilla/firefox-code-coverage-frontend/issues/138) which was filed *6 days ago*.

The interesting part is that we got a 202 [2] even though the changeset has been

[2018-03-14 15:37] armenzg opened #148 "Allow building a project with either browser history or hash history"
This will allow generating a build which is adequate to publishing somewhere where the server is not properly configured.

For instance, publishing to S3 w/o configuring redirects.

[2018-03-14 15:43] marco-c commented on #147
Yes, the cache is configured to 1 day currently, we should probably increase it to 2 days at least.

[2018-03-14 15:45] marco-c commented on #147
Filed https://github.com/mozilla-releng/services/issues/938.

[2018-03-14 17:01] armenzg commented on #135
Hi @marco-c this could be a side effect of https://github.com/mozilla/firefox-code-coverage-frontend/issues/147 ?

I would like to close this issue in favour of that one since this one does not have enough data to be actionable.

[2018-03-14 17:25] marco-c commented on #135
I haven't been able to reproduce this lately, so let's close it.

[2018-03-14 17:26] marco-c opened #150 "GitHub ribbon is hiding "Push log" and "Hg Diff" links"

[2018-03-14 18:17] armenzg commented on #150
I noticed that. I will fix it as I'm working on something else.
I missed it during review time.

[2018-03-14 18:35] armenzg commented on #150
Landed. It should be live soon.

[2018-03-14 18:35] #150 closed

[2018-03-14 22:17] csd713 commented on #138
Hi @armenzg @sylvestre Could you provide more info on this? What is the expected result here ?

[2018-03-15 14:39] armenzg commented on #138
On the main view:
http://firefox-code-coverage.herokuapp.com/
https://cl.ly/3y0j3Z3o1S1c
you can see part of the commit message (e.g. Bug 1340588 - enable clang-cl to generate depfiles directly, rather than using a wrapper; r=build-peer)

If you click on one of those rows you will end up here:
https://firefox-code-coverage.herokuapp.com/#/changeset/30dc6c484d42504bb586b7b02cf6561dbd50136e

On that

[2018-03-16 03:18] csd713 commented on #136
Hi @armenzg I need a help.
After enabling 2-factor authentication for my git account, I'm unable to push code to any repository. Below is the error.

`Username for 'https://github.com': csd713
Password for 'https://csd713@github.com':
remote: Permission to repository denied to csd713.
fatal: unable to access repository: The requested URL returned error: 403`

I tried generating tokens by following

[2018-03-16 13:52] armenzg commented on #136
Hi @csd713 please reach me via email (armenzg@mozilla.com) or come online on [IRC](https://github.com/mozilla/firefox-code-coverage-frontend/blob/master/CONTRIBUTING.md#getting-connected) to discuss the problem you're facing.

[2018-03-16 14:19] csd713 commented on #136
@sylvestre Thanks for reaching out. I closed my sessions and opened it back. I'm able to perform operations now. Thanks again. :)

[2018-03-20 04:17] csd713 commented on #138
Hi @armenzg
The 'text' variable in this line is a string and has the commit message.
https://github.com/mozilla/firefox-code-coverage-frontend/blob/09cb429bc68abb979f21b5b99a0d2a66200ce165/src/components/diffviewer.js#L45

We can strip the commit message with this code `const commitMessage = text.split('\n')[6]`.
Would you recommend fetching commit message this way for our use here?

[2018-03-20 14:13] armenzg commented on #138
If you notice, you're accessing a specific element of an array (`[6]`). That is prone to issues as the next diff might have the commit message on `[7]`.

First, call `parse(text)` (line 46) and use the dev tools to determine the structure of the object returned.

From the console you can play with the returned object.

Also look at the code of the parse-diff module:
https://github.com/sergeyt/pars

[2018-03-20 14:36] csd713 commented on #138
I was worried about the same problem (commit message being in different index for every diff).
When I checked the object structure of `parse(text)` in dev tools, I observed that it doesn't contain commit message. So, to avoid another API call, I thought of this idea.

I will figure out better way to fetch the metadata and let you know.

[2018-03-20 15:49] armenzg opened #153 "Fix: The DiffViewer should not fail if the coverage data for a changeset is PENDING"
Normally, from the SummaryViewer you should not be able to get to the DiffViewer since
there's no link to navigate to it.

However, people clicking on links from GitHub issues can reach the DiffViewer, thus,
failing because there coverage object contains a summary property rather than
being undefined.

This change shows an error message to the user letting them know that they should
try again late

[2018-03-20 15:54] armenzg commented on #153
This error came via Sentry.io with:

for this line of code:
https://github.com/mozilla/firefox-code-coverage-frontend/blob/09cb429bc68abb979f21b5b99a0d2a66200ce165/src/components/diffviewer.js#L81

[2018-03-21 15:46] armenzg commented on #45
Here's the API shoing the valid extensions:
https://uplift.shipit.staging.mozilla-releng.net/coverage/supported_extensions

[2018-03-21 15:48] armenzg commented on #127
To be tackled as part of #137.

[2018-03-21 15:48] #127 closed

[2018-03-21 15:56] armenzg commented on #99
This was completed.
Thanks @Dottori !

[2018-03-21 15:56] #99 closed

[2018-03-21 15:59] armenzg commented on #103
@marco-c Could you please add the API you suggest? (if it's not too much work). It will make the code on the frontend cleaner. The pushID (preferred) or the node is sufficent for me.

[2018-03-21 16:00] armenzg commented on #153
I fixed this yesterday.

[2018-03-21 16:00] #153 closed

[2018-03-21 16:00] armenzg commented on #148
Not worth all the extra effort.

[2018-03-21 16:00] #148 closed

[2018-03-22 04:18] csd713 commented on #138
Hello @armenzg
I'm waiting for the page to load from 6 hours. What am I missing here?

<img width="1279" alt="mozilla_start_page" src="https://user-images.githubusercontent.com/22018999/37750989-37f8f372-2d66-11e8-809c-1444fdd8d2f1.png">

[2018-03-22 08:58] marco-c commented on #138
The Linux coverage builds have been failing for two days because of https://bugzilla.mozilla.org/show_bug.cgi?id=1447189, so we don't have any recent data.
I'd use a direct link to a changeset in order to test.

[2018-03-22 09:30] marco-c commented on #103
@armenzg I'm on PTO at the moment, but can do it as soon as I'm back. Can you file an issue on mozilla-releng/services?

[2018-03-22 13:06] armenzg commented on #138
Thanks @marco-c !

@csd713 on a side note, I will be away from March 30th (8 days from today) to May 6th. Let me know if you would like help finding other projects or if you want me to find an alternative mentor.

[2018-03-22 13:10] armenzg commented on #103
Done! https://github.com/mozilla-releng/services/issues/966
Enjoy your time off.

[2018-03-22 18:07] csd713 commented on #138
Hi @armenzg I would love the help.
I have been working on one small issue in testpilot project too. But if you could find me a project that's good for me, that would be great. And, I'd be very happy to have one more mentor.

[2018-03-23 16:01] armenzg commented on #138
Hi @csd713
So far I have I'm aware of @eliperelman welcoming contributor to https://github.com/mozilla-neutrino/neutrino-dev

There's also https://github.com/mozilla/treeherder if you're interested.

Notice that I have landed a major refactoring of the Hg code on `master`.
In any case, until the backend is not working again there's not much to do.

[2018-03-23 18:16] csd713 commented on #138
Thanks @armenzg
I will have a look at issues in both projects.
I'm waiting for the backend to work so that I can test this enhancement.

[2018-03-23 18:19] marco-c commented on #138
@csd713 you should be able to test it on a old changeset if you load it directly instead of going through the home page.
AFAIK the backend is working, but there's no recent data because of a bug that is making the coverage builds fail.

[2018-03-26 15:14] armenzg opened #156 "Use redux"
We have three views and some of the data is used across the different views (e.g. code coverage of a changeset).

I've discussed it with wlach and we believe this is a suitable reason to use redux.

[2018-03-26 15:19] armenzg commented on #147
I believe I fixed this in here:
https://github.com/mozilla/firefox-code-coverage-frontend/commit/62aa5bf17f5596378021b55d1442b730f15883e0

[2018-03-27 20:34] armenzg commented on #122
This has just been deployed.
I will fix the description not lining up to the left on my current wip.

[2018-03-27 20:34] #122 closed

[2018-03-27 20:39] csd713 commented on #138
Hi @armenzg
Are there gonna be any more changes to this file this week?
https://github.com/mozilla/firefox-code-coverage-frontend/blob/master/src/components/diffviewer.js

[2018-03-28 13:54] armenzg commented on #72
I've landed @jhkren change and see how it fairs:
https://github.com/mozilla/firefox-code-coverage-frontend/commit/a0cae4ab3ebfa7978ab6db0d5dfaf67110f575ed

[2018-03-28 13:54] #72 closed

[2018-03-28 14:25] armenzg commented on #137
Marking as duplicate of #138

[2018-03-28 14:25] #137 closed

[2018-03-28 14:28] armenzg commented on #138
Hi @csd713
I've landed all major refactoring that I was working on since last week.

Unfortunately, I also started working on this since issue #137 is too closely related.
If you want, you can still finish up my work in this branch:
https://github.com/mozilla/firefox-code-coverage-frontend/tree/issue137
I have other issues I can be working on.
Please let me know if you would like to finish that br

[2018-03-28 14:34] armenzg commented on #66
@csd713 there's also this issue which has some prior work (https://github.com/mozilla/firefox-code-coverage-frontend/pull/106)
You can get @gmierz to review and land the code.

[2018-03-28 14:35] #147 closed

[2018-03-28 14:46] csd713 commented on #138
@armenzg please complete the issue. I will find other issue to work on.
I will join IRC and explore more. Thank you. Have a nice vacation.

[2018-03-28 14:53] armenzg commented on #132
Let's say this is done.

[2018-03-28 14:53] #132 closed

[2018-03-28 14:56] armenzg commented on #103
We now get a message if there is no commits to show:
https://github.com/mozilla/firefox-code-coverage-frontend/commit/64a9a9f8f75c5834aa2d00064371631962c962ef#diff-5829105ceca28152250c963919b2ab04R225

[2018-03-28 14:56] #103 closed

[2018-03-29 10:09] calixteman opened #159 "Blank page"
For example https://firefox-code-coverage.herokuapp.com/#/changeset/0541c4074a08699d58913bd5d7f797c0af8e3e30 is leading to a blank page.
I tried several ones on https://firefox-code-coverage.herokuapp.com/#/ and it's the same.

[2018-03-29 10:18] calixteman commented on #159
In fact a lot of entries we've on https://firefox-code-coverage.herokuapp.com/#/ have a "Coverage summary" set to "INTERNAL SERVER ERROR" and only these ones are leading to a blank page.

[2018-03-29 13:22] armenzg commented on #159
This is due to the refactor I landed yesterday.
I was waiting for the morning so I would have the right data to fix it.
My apologies for the inconvenience.

[2018-03-29 13:53] armenzg commented on #138
Take care @csd713 !

Fixed: https://github.com/mozilla/firefox-code-coverage-frontend/commit/245afefb790e02db8adbb6c05c3b867fc7ae3d96

To be live in few minutes from now.

[2018-03-29 13:53] #138 closed

[2018-03-29 13:54] armenzg commented on #159
Thanks for reporting!

Fixed: https://github.com/mozilla/firefox-code-coverage-frontend/commit/caae29517ec82d45087c4ded1cf25508661a048e

To be live in few minutes from now.

[2018-03-29 13:54] #159 closed

[2018-03-29 16:26] armenzg opened #162 "Improve caching of individual requests"
When we fetch for a raw diff (or a changeset's metadata) and it is not on the local cache we don't get the ability to store the new data into the local cache. See https://github.com/mozilla/firefox-code-coverage-frontend/blob/master/src/utils/hg.js#L25

Also, if there's no local cache available then the individual fetch becomes the whole data stored in the cache.

This will not always be noticeabl

[2018-03-29 16:53] armenzg opened #163 "Make the coverage summary be what takes you to the diff viewer"
We added a feature that allows you to click on a row and it takes you to the diff viewer.
This was good when the columns did not have links because if a column has a link then we can't use that column to trigger the onClick event. The last column is the only one that currently works.

Let's change the on row click behaviour and make that last column be the link.

[2018-03-29 17:13] armenzg commented on #96
@BeaverValley I will be away from tomorrow until May 7th.

Please join #frontend-infra on [IRC](https://wiki.mozilla.org/IRC) to talk with other people if you would like other React related contribution opportunities.

Take care!

[2018-03-29 19:28] armenzg opened #164 "Have a two tier data fetching approach to improve the expired and no cache scenarios"
We currently query json-pushes to give us all the pushes in the last day which we then turn into changesets.
After we do that, for every changeset we asynchronously query the backend (producing 100-400 fetches) and wait for all of them to finish first.
This is specially bad since the browser allows for a maximum of 6 fetches in parallel.
Nothing in the UI is rendered until all fetches have been co

[2018-03-29 23:17] csd713 commented on #66
@armenzg I will work on this.

[2018-04-03 00:05] csd713 commented on #66
Hi @gmierz I need to test some changes but server is responding with `500` error. Any workaround for this?

[2018-04-03 17:30] marco-c commented on #164
Another option might be to add an API in the backend to retrieve coverage summary for multiple changesets at the same time.

[2018-04-05 18:55] gmierz commented on #66
Hi @csd713, everything looks fine to me now. It may have been an error with one of the backend services - there isn't much you could do to get around that.

[2018-04-13 00:04] gmierz commented on #66
Hi @csd713, apologies for the late reply. Option 1 is the better choice to me and that is also how @armenzg wants it based on the comments in this closed pull request: https://github.com/mozilla/firefox-code-coverage-frontend/pull/106

Thanks for hacking on this! 👍

[2018-04-13 03:36] csd713 commented on #66
Raised a PR for this #166

[2018-04-13 03:36] #66 closed

[2018-04-19 17:01] klahnakoski commented on #84
Here is an example of how to get this information out of ActiveData.

https://activedata.allizom.org/tools/query.html#query_id=Ax2Rwjlm

[code]

[2018-05-04 13:45] armenzg opened #172 "TypeError: Cannot read property 'toolkit/components/viewsource/content/viewSourceUtils.js' of undefined"
This was reported in Sentry [1]

This was caused when visiting:
https://firefox-code-coverage.herokuapp.com/#/changeset/3cee5c02db0a065f081989d3e0514563aac355ab

[1]

[2018-05-10 15:15] armenzg commented on #57
@marco-c @calixteman I'm going to be tackling this issue soon.

What is the sorting you want by default? By date? or by low score at the top?
A lot of time has passed since I filed this.

[2018-05-11 14:39] marco-c commented on #57
Probably by date by default and then the option to show low score at the top.

[2018-05-11 16:10] marco-c opened #174 "fileViewer: Use coverage.moz.tools backend to retrieve coverage data"
Once https://github.com/mozilla-releng/services/issues/1160 is done.

[2018-05-11 16:10] marco-c opened #175 "Add a overall graph view"
Like the one on codecov.io, but with the option to filter by test suite (and platform?).

[2018-05-11 16:12] marco-c opened #176 "fileViewer: Create a directory view to navigate a report"

[2018-05-11 16:15] marco-c commented on #176
Depends on https://github.com/mozilla-releng/services/issues/1161.

[2018-05-11 16:15] marco-c commented on #175
Depends on https://github.com/mozilla-releng/services/issues/1161.

[2018-05-14 17:16] klahnakoski commented on #176
There was a previous project that worked on this:  https://github.com/mozilla/moz-coco/blob/master/src/queries/10-DirectoryDrillDown-Cov.js

It used the `coverage-summary` table (currently not updated) to get the coverage stats by directory.  A similar query could run off of of `coverage` directly once the TUIDs are in place: Requesting the number of unique TUIDs covered, and uncovered, for each c

[2018-05-16 19:18] armenzg commented on #69
I will be grabbing this.

[2018-05-16 19:26] armenzg commented on #45
I hid the last comment as it was related to another issue.

Please give this a try:
https://firefox-code-coverage-pr-180.herokuapp.com/#/changeset/a8bad1f53a34ad68512deeaa0383a73a3a2e4e1d

It will show less files than:
https://firefox-code-coverage.herokuapp.com/#/changeset/a8bad1f53a34ad68512deeaa0383a73a3a2e4e1d

[2018-05-16 22:51] marco-c commented on #45
Looks good to me!
I don't know if people would expect to see the unsupported files collapsed or not see them at all, but I'd say let's try this and change if somebody gets confused.

[2018-05-16 22:55] marco-c commented on #57
A couple of suggestions:
1) if you don't know, it's unclear that you have to click on the coverage column to sort the rows. Maybe add an icon?
2) when you click again, the ordering goes back to newest first. This could be confusing too, as somebody might expect the ordering to become the opposite ("least covered first" if you click once, "most covered first" if you click again). Maybe by adding th

[2018-05-17 13:39] marco-c commented on #57
I think it might be clear enough if you had an icon like https://upload.wikimedia.org/wikipedia/commons/7/73/Sort_both.svg by default. By clicking once it will turn to a single arrow, by clicking twice it would turn back to the default.

[2018-05-17 19:37] armenzg commented on #156
I have some WIP I will publish later.
The only part missing is getting the raw diffs for every changeset when landing on the main view + making the diff viewer use redux.

We would also need to change the behaviour not to open the diff viewer on a new tab.

https://hashrocket.com/blog/posts/when-to-use-redux

[2018-05-17 23:46] marco-c commented on #175
This would probably be another view, basically a graph showing the evolution of the coverage.

[2018-05-17 23:50] marco-c commented on #57
I agree it's not *great*, but I think it's better than before and acceptable. We can improve if we come up with something else!

[2018-05-18 12:33] marco-c commented on #175
Yes, basically the X axis will be the time, the Y axis will be the coverage percentage. Each point will be a revision.

[2018-05-21 12:10] armenzg opened #181 "Fix status and error messages on SummaryContainer"
After the last few code refactorings I've seem to have lost my ability to get the right conditions to determine if we're still loading changesets or if the user should file an issue (see screenshot).

![image](https://user-images.githubusercontent.com/44410/40306881-58b19f78-5cce-11e8-8a55-61e181ee8dae.png)

[2018-05-22 17:58] armenzg commented on #56
I've been experimenting with this and I believe a form field to enter the bugId will be a better experience.

The other option is to add a hyperlink for every changeset's description.

[2018-05-24 16:32] marco-c commented on #135
I've been able to reproduce agan, and @jankeromnes was able to reproduce too.

[2018-05-24 16:32] #69 closed

[2018-05-24 16:39] jankeromnes commented on #135
So we generate an email report with low-coverage changesets. Here is one email example:

- [Bug 1462961 - Refactor to save a nsDisplayTransform* instead of just the transform matrix. r=jrmuizel](https://firefox-code-coverage.herokuapp.com/#/changeset/6c722b22ef5eb4f86968991dcf7a7d51fa3eff37): 0 covered out of 4 added.
- [Bug 1462961 - Ensure the WebRenderLayerScrollData structure matches the APZ r

[2018-05-24 19:02] armenzg commented on #45
Landed few days ago:
https://github.com/mozilla/firefox-code-coverage-frontend/commit/f1696c00b788e646d875e7ef6cadfb40b9fe25da

[2018-05-24 19:02] #45 closed

[2018-05-25 00:29] csd713 commented on #144
Hello @armenzg can I work on this issue?

[2018-05-25 12:26] armenzg commented on #144
Hey @csd713 ! sure thing.
Does the first comment make sense to you?

[2018-05-25 12:26] #181 closed

[2018-05-25 15:52] armenzg commented on #56
Live.

[2018-05-25 15:52] #56 closed

[2018-05-25 16:51] csd713 commented on #144
Not really :) Could you please give a little more info on this?

[2018-05-26 01:11] armenzg commented on #96
Hi @BeaverValley please let me know if have a fix for this, otherwise, I will put it back into the pool of available issues for contributors by this Monday.

[2018-05-26 01:14] armenzg commented on #144
If you look at this [change](https://github.com/mozilla/firefox-code-coverage-frontend/commit/135da3f7ae901b97c7390844885815e2479accfa) you might be able to understand what I'm saying.

This code can fail either fetching or parsing what was fetched:
[code]
Now, a network error was happening, however, we were printing this message `We did not manage to parse the diff correctly.`
We were also *not*

[2018-05-30 18:16] armenzg commented on #135
I've verified that we now fail safely:
https://firefox-code-coverage-pr-187.herokuapp.com/#/changeset/3cee5c02db0a065f081989d3e0514563aac355ab
https://firefox-code-coverage-pr-187.herokuapp.com/#/changeset/4cf7f246faed504f8568adcf786124f8aff88031
https://firefox-code-coverage-pr-187.herokuapp.com/#/changeset/6c722b22ef5eb4f86968991dcf7a7d51fa3eff37
https://firefox-code-coverage-pr-187.herokuapp.co

[2018-06-05 10:11] jankeromnes opened #188 "TypeError: coverageMap[cset.node] is undefined"
## STR:

[code]

Then vist `localhost:5000`

## Expected:

A working coverage front-end.

## Observed:

A completely blank page, with this error in the console:

[code]

Grepping for the faulty line:

[code]

[2018-06-05 10:12] jankeromnes commented on #188
Note: https://firefox-code-coverage.herokuapp.com/ is also broken, with the same blank page and a similar error: `TypeError: d[e.node] is undefined`

[2018-06-05 10:39] jankeromnes commented on #188
FYI, the network errors are due to a bad certificate from Numericable, my internet provider, which is apparently trying to man-in-the-middle me:

![numericable-man-in-the-middle](https://user-images.githubusercontent.com/599268/40971288-6952f98a-68bd-11e8-86d4-528a0760d750.png)

[2018-06-05 14:30] armenzg opened #191 "When filtering changesets we can't click to open the diff viewer"
STR:
* Type something in the filter
* Try to click on the last column of one of the changesets

Expected results:
* The diff viewer is opened on a new tab

Actual results:
* The filter is cleared and we can see all changesets

@csd713 this is a good bug to investigate if you're interested

[2018-06-06 13:14] armenzg commented on #135
Landed:
https://github.com/mozilla/firefox-code-coverage-frontend/commit/26959032957fb66651aef5c8dc39a71f5bd73c51

[2018-06-06 13:14] #135 closed

[2018-06-06 13:33] marco-c commented on #135
Isn't 2695903 about changesets with no data? I was seeing this on changesets with data.

[2018-06-06 17:01] jankeromnes commented on #176
On the front-end, this could be achieved by hooking into these lines:

https://github.com/mozilla/firefox-code-coverage-frontend/blob/26959032957fb66651aef5c8dc39a71f5bd73c51/src/containers/fileViewer.jsx#L88-L89

and by implementing a `DirectoryViewer` component a bit similar to:

https://github.com/mozilla/firefox-code-coverage-frontend/blob/26959032957fb66651aef5c8dc39a71f5bd73c51/src/container

[2018-06-06 17:15] jankeromnes commented on #176
And the back-end can provide a flat view of coverage for all files under a certain path, like so:

https://activedata.allizom.org/tools/query.html#query_id=R3XCygfE

Maybe the front-end can calculate per-immediate-subdirectory coverage by aggregating the coverage of all files under a given sub-directory.

Or, if that's too compute-intensive on the client-side, maybe we could build another query th

[2018-06-06 17:30] klahnakoski commented on #176
There may be easier ways to do this:

[code]
https://activedata.allizom.org/tools/query.html#query_id=6e8tvR7z

The `groupby` clause is parsing the file names to get the immediate children.  The `5` is the length of "mfbt/".  This query returns nothing if the "directory" is a file. The new cluster will make the query simpler because `between` can accept expressions on all parameters, not just cons

[2018-06-06 17:49] marco-c commented on #176
The backend could also retrieve the list of directories from hgmo if it's not easy/clean to do it via a query.

[2018-06-07 07:30] jankeromnes commented on #176
Thank you for this query!

So I see that it returns:

[code]

How should I interpret this data to get a code coverage percentage?

Additionally, codecov.io seems to have a lot more coverage data for [mfbt/](https://codecov.io/gh/marco-c/gecko-dev/tree/master/mfbt/).

[2018-06-07 10:57] klahnakoski commented on #176
Sorry, that query was not meant to provide all the data you want, just to show we can do some string manipulation to get "directories" and files.  Furthermore, it looks like it is incomplete; I missed the [null,310] line; and you are correct to assume it is showing all the records my `groupby` logic is not catching.  Doh!

[2018-06-07 10:59] klahnakoski commented on #176
We must add a `select` clause to sum the `total_covered` and `total_uncovered` to calculate the overall percent.

[2018-06-07 18:55] armenzg commented on #135
My apologies for the delay to reply.
Could you please verify my following comment?

It's hard to figure out which changesets are still valid to test or not.

Here's the list of mentioned changesets on this issue:
* https://firefox-code-coverage.herokuapp.com/#/changeset/3cee5c02db0a065f081989d3e0514563aac355ab
* https://firefox-code-coverage.herokuapp.com/#/changeset/4cf7f246faed504f8568adcf786124

[2018-06-07 19:27] marco-c commented on #135
The issue that we were seeing is probably unrelated to the specific changeset. It was just happening (intermittently) when loading a changeset directly without going through the home page.

[2018-06-13 18:02] gabru-md commented on #191
The issue is being caused by [the line here](https://github.com/mozilla/firefox-code-coverage-frontend/blob/master/src/components/changesetFilter.jsx#L12) .
Once the user removes the focus from the input field, then the `descriptionFilterField` value is set to `''`.
This can be solved by simply removing the `onBlur` attribute.
@armenzg should I create a Pull Request for this? :sweat_smile:

[2018-06-14 23:17] marco-c commented on #174
This could actually be already done now, doesn't depend on https://github.com/mozilla-releng/services/issues/1160.

[2018-06-15 17:36] armenzg commented on #191
Hi @gabru-md I've tested your change and that is not the behaviour we want.
We want to go back to the full list of changesets rather than just showing the subset of changesets that match the filter.

Perhaps, instead of using the `onBlur` event we could catch the `escape` button being pressed and add a small icon [cancel icon](https://material.io/tools/icons/static/icons/baseline-cancel-24px.svg).

[2018-06-19 07:04] jankeromnes commented on #176
@klahnakoski Thanks! I'll try that (but please feel free to post the amended query here if you have it mind, in case I haven't managed to guess it yet).

[2018-06-19 07:58] jankeromnes commented on #176
Ok, I've gotten to this:

[code]

https://activedata.allizom.org/tools/query.html#query_id=_dYkLjYt

The result looks like this:

[code]

Not sure where the second column comes from (it's all `null`), and it looks like our bogus `null` subdir from last time is still there.

[2018-06-19 11:56] klahnakoski commented on #176
The `groupby` clause performs grouping, but also adds a column to the resultset.  The `"select": <list>` works like SQL; it adds a column for each item found in `list`. Neither clause can refer to the columns of another; nested queries are need if you want to do that.

    {"select":"subdir"}

is asking for the "subdir" column in the coverage table, which there is none, so it is `null`.

[2018-06-19 12:06] klahnakoski commented on #176
This query adds a `is_dir` column

https://activedata.allizom.org/tools/query.html#query_id=SAVvrgte

[2018-06-19 12:15] klahnakoski commented on #176
Always add a `limit` clause to be explicit about the number of records you want, otherwise you get 10.

https://activedata.allizom.org/tools/query.html#query_id=teAuwVKw

[2018-06-19 12:28] klahnakoski commented on #176
The one thing that concerns me is the last row, the "null row", which catches everything not not covered by the `groupby`, but matches the `where` clause; I am looking into what those records are now; I use the `etl.id` to find examples and figure out how this query is not reporting them correctly.

https://activedata.allizom.org/tools/query.html#query_id=KoJZ8osX

[2018-06-19 12:44] klahnakoski commented on #176
... but the last row is simply the sum of the others, which suggests the ES query responsible for counting the `null row` is wrong.  Ignore it for now, and I will push a fix to Activedata

[2018-06-19 12:59] klahnakoski commented on #176
https://github.com/mozilla/ActiveData/issues/63

[2018-06-19 13:12] jankeromnes commented on #188
Should have been fixed by 464618f755f35b2e2739d8fcaba27816be4d9153.

[2018-06-19 13:12] #188 closed

[2018-06-28 07:32] jankeromnes opened #194 "`lint-staged` doesn't recognize Node 10 as >= 6"
[code]

Workaround is to downgrade to 9, which is sad.

[2018-06-28 12:03] armenzg commented on #194
Is there an upstream issue?

[2018-06-28 12:30] jankeromnes commented on #194
I don't know, I'm not sure where to find the code responsible for checking the Node version among husky, lint-staged, etc.

[2018-07-09 13:12] jankeromnes commented on #176
Note: Since the example revision `752465b44c79` no longer returns any data, here is a query that gives a list of revisions for which the per-directory query *should* have some data:

https://activedata.allizom.org/tools/query.html#query_id=2lq0AhNB

[2018-07-17 13:40] armenzg commented on #144
Fixed by @csd713 ! 🎉 🎆

[2018-07-17 13:40] #144 closed

[2018-07-17 13:41] armenzg commented on #156
I had a branch but we can live without it.

[2018-07-17 13:41] #156 closed

[2018-07-17 13:43] armenzg commented on #194
I landed this fix on another repo:
https://github.com/mozilla/firefox-health-dashboard/commit/b56bacd697b5f4b1c649c9b7a733143ad7a40d0e

[2018-07-17 14:03] jankeromnes commented on #194
Great news, thanks! 😁

[2018-07-18 13:05] jankeromnes commented on #194
@armenzg Why not upgrade to `lint-staged 7.2.0` instead of `7.0.5`? Also, could we enable greenkeeper.io on this repository? Is the test coverage sufficient to catch any potential dependency-related regressions?

[2018-07-18 13:25] jankeromnes opened #197 "TypeError: p.to is undefined"
The coverage front-end is broken on this revision: https://firefox-code-coverage.herokuapp.com/#/changeset/04dd259d71db60341016eccf53ced43742319631

The error is `TypeError: p.to is undefined`. Webpack and Devtools are not getting along well, but a simple `git grep` in the sources seems to point to:

https://github.com/mozilla/firefox-code-coverage-frontend/blob/a5f48df591ea46901234270e002ee01983d

[2018-07-18 13:36] armenzg commented on #194
I have no objections for that version.
I've enabled greenkeeper.io (I hope).
I don't know if it is enough. Any suggestions on how to determine that?

[2018-07-18 13:40] armenzg commented on #197
Sure.

This could be a bug in `parse-diff` for [the mentioned revision](https://hg.mozilla.org/mozilla-central/raw-rev/04dd259d71db60341016eccf53ced43742319631).

[2018-07-18 13:42] jankeromnes opened #198 "Don't show "Loading..." when the app is not loading"
Sometimes the main page says "Loading..." while it's actually not loading.

For example, when an error happens, the app looks like this:

![error-loading](https://user-images.githubusercontent.com/599268/42885274-d3022720-8aa0-11e8-8417-3c7bd57277d2.png)

Before the error, the string "Loading..." wasn't shown, and instead there was a yellow infobox saying something like "Some things haven't been p

[2018-07-18 13:50] jankeromnes opened #199 "Uncaught (in promise) TypeError: Cannot read property 'pending' of undefined"
Currently, when I try to load https://firefox-code-coverage.herokuapp.com/#/ I see this failure in the Devtools Console (once the polling is complete):

`Uncaught (in promise) TypeError: Cannot read property 'pending' of undefined`

The faulty line seems to be:

https://github.com/mozilla/firefox-code-coverage-frontend/blob/a5f48df591ea46901234270e002ee01983d164c6/src/utils/coverage.js#L201

I thi

[2018-07-18 15:20] jankeromnes commented on #194
Cool!

You can find this repository in the greenkeeper.io website, and it should say that it is enabled.

Then some time soon, you should see its first pull request to this repo (I think it adds some things to `package.json` and other places, but you don't have to accept all its suggestions. I only use it to keep my dependencies up-to-date, and since any pull request runs the tests, I easily know

[2018-07-24 13:48] jankeromnes commented on #194
So, @Standard8 helped me look into why Greenkeeper.io wasn't doing anything, and I decided that maybe we could try renovatebot.com, which seems to have more features and controls.

So we disabled Greenkeeper, and I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1477999 in order to enable Renovate. I'm looking forward to discovering what it can do for us.

[2018-07-25 14:27] marco-c opened #214 "Stop using git_build_changeset"
Since we are going to provide a directory viewer, we can remove the GitHub links and thus stop using git_build_changeset.

[2018-07-26 12:58] La0 commented on #176
I integrated a new endpoint into the code coverage backend, using the ES cluster.
You can browse files/directories at https://coverage.staging.moz.tools/v2/path (staging only until next services release)

To view a sub-directory/file: https://coverage.staging.moz.tools/v2/path?path=js/src/

You can also specify another changeset by using the `changeset` parameter

[2018-07-26 13:04] marco-c commented on #176
@jankeromnes could you make the frontend use the staging endpoint just for this for now?

[2018-07-26 13:58] jankeromnes commented on #176
Awesome, thanks! I've cleaned up my prototype and will try making it use the new staging endpoint.

[2018-08-01 19:18] moz-hwine opened #216 "FYI: Renovate will auto open PRs for vulnerabilities on 2018-08-08"
This repository uses the GitHub App Renovate.

The App has asked for additional permissions in order to open PRs for vulnerability reports automatically.

If you are concerned that such PRs will advertise a security vulnerability in this repository, you must take action to disable this new feature.

See [this bug comment][bug] for information on disabling the new feature.

--[GitHub Owners][github

[2018-08-15 17:18] moz-hwine commented on #216
Renovate feature now enabled

[2018-08-15 17:18] #216 closed

[2018-09-26 10:53] marco-c commented on #87
@akansha2608 sure! You can also add it to https://github.com/mozilla-frontend-infra/codetribute.

[2018-09-26 10:54] marco-c commented on #96
Sure!

[2018-09-28 19:17] akansha2608 commented on #87
@marco-c do i need to create another issue for codetribute? or just fine to work with this one

[2018-09-28 19:21] marco-c commented on #87
codetribute is better, as it's the future bugsahoy.

[2018-09-28 20:12] akansha2608 commented on #87
@marco-c raised a PR https://github.com/mozilla-frontend-infra/codetribute/pull/236

[2018-09-29 13:37] akansha2608 commented on #44
Hi @armenzg i would like to work on it , can you please help me how to proceed ?

Thanks

[2018-09-29 19:35] armenzg commented on #44
Hi @akansha2608
Have you had a look at the https://github.com/mozilla/firefox-code-coverage-frontend/blob/master/CONTRIBUTING.md page?

@marco-c I think I might have completed this issue a while ago. Could you please read this and see if there's anything left for @akansha2608 to do? Thanks!
https://github.com/mozilla/firefox-code-coverage-frontend/blob/master/README.md#firefox-code-coverage-diff-v

[2018-09-30 09:54] marco-c commented on #44
The current docs seem comprehensive enough. We just need to update it to mention Windows too (it's no longer restricted to Linux).

[2018-09-30 09:54] #44 closed

[2018-09-30 09:54] marco-c opened #231 "Update docs to mention that the coverage comes from Windows tests too"
Currently we say that it comes from linux64 only.

[2018-09-30 09:55] marco-c commented on #44
I've opened https://github.com/mozilla/firefox-code-coverage-frontend/issues/231 for adding Windows.

[2018-10-02 02:09] #87 closed

[2018-10-02 04:51] akansha2608 commented on #231
Hi @marco-c @armenzg i would like to work on it. Can I ?

Thanks

[2018-10-02 08:21] marco-c commented on #231
Sure!

[2018-10-05 04:59] akansha2608 opened #233 "Broken Link in contributing.md"
Link to blog to understand unidirectional data flow principle in this section is broken - https://github.com/mozilla/firefox-code-coverage-frontend/blob/master/CONTRIBUTING.md#principles

[2018-10-05 09:39] #233 closed

[2018-10-06 06:55] brickmaker17 commented on #191
Is this still a issue? If so I would like to try and work on it.

[2018-10-06 13:32] HrushikeshBodas commented on #231
Is this issue fixed yet?

[2018-10-07 10:51] marco-c commented on #231
No, it is still open.

[2018-10-07 15:49] armenzg commented on #191
It's been long enough that I'm declaring this issue free for grabs.

Yes, the issue is still happening. Feel free to give it a try. Thanks!

[2018-10-08 09:18] #231 closed

[2018-12-08 19:13] jarkyll commented on #191
Is this still an open issue? @armenzg @brickmaker17

[2018-12-10 16:06] armenzg commented on #191
Hi @jarkyll please go ahead. Welcome!

[2019-01-08 17:12] matthewacha commented on #92
Is this issue still open @Dottori

[2019-01-11 08:21] matthewacha commented on #163
hey @armenzg, is this issue being worked on? I could take it on

[2019-01-11 13:43] armenzg commented on #163
@matthewacha sure! Thank you!

[2019-01-14 07:46] matthewacha commented on #163
@armenzg The application is failing to run locally. Is there something I may have skipped on set up

[2019-01-15 11:23] matthewacha commented on #163
After cloning the repo, I run `yarn install` and `yarn start`. The build succeeds  but localhost:5000 just returns a blank page

[2019-01-15 15:35] matthewacha commented on #163
its fine, you may look into the React-Hot-Loader issue.

[2019-01-15 16:47] marco-c commented on #163
We haven't been using it for a while, no. The changeset viewer part is not as useful now as we upload coverage to Phabricator. The file viewer part would be useful, but it's not complete.

[2019-01-15 18:41] armenzg commented on #163
I've landed a fix on master. Please let me know if you still hit the issue.

@matthewacha I'm going to be away for almost 2 months and I've spoken to marco and it would make more sense for you to look for other projects in here:
http://codetribute.mozilla.org

It seems that the backend for this frontend is going to be written again, thus, it makes not much sense to work on this frontend.

[2019-01-16 07:04] matthewacha commented on #163
Ok @armenzg , please inform me if its possible to contribute to the backend, I would not mind taking on some tasks.

[2019-01-16 14:23] armenzg commented on #163
That's a question for @marco-c ; Thanks for your willingness!

[2019-01-16 21:48] marco-c commented on #163
@matthewacha unfortunately the backend is still at the design phase, but soon there will be good-first-issues. I will make sure they are filed in codetribute too!

[2019-01-17 08:48] matthewacha commented on #163
@marco-c cool. I will be waiting

[2019-03-30 06:17] Mozilla-GitHub-Standards opened #262 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-30 14:57] #262 closed

[2019-04-09 14:50] ajupazhamayil opened #264 "https://firefox-code-coverage.herokuapp.com/#/ is stuck at loading page"
This is the screenshot for the same.
![Screenshot from 2019-04-09 20-17-43](https://user-images.githubusercontent.com/14087896/55810222-dbf87200-5b04-11e9-911c-a503be7b6976.png)

[2019-04-11 13:14] armenzg commented on #264
Thanks for the report, however, we've discussed it and we're going to deprecated this project.

[2019-04-11 13:14] #264 closed, assigned to nobody